
div#panel_goods_item div#panel_tabs{margin:15px 0;}
div#panel_goods_item div#panel_tabs div.bookmark{height:27px;float:left;margin:0;padding-left:3px; color: white}
div#panel_goods_item div#panel_tabs div.tabs{clear:both;border-top:2px solid #a0d468;border-bottom:3px solid #a0d468;}
div#panel_goods_item div#panel_tabs div.tabs div.tabitem{display:none;padding:9px 0;}
div#panel_goods_item div#panel_tabs div.tabs div.tabitem:first-child{display:block;}
div#panel_goods_item div#panel_tabs div.bookmark div.btitle{display:block;float:right;;
    font-size: 14px;
    text-transform:uppercase;
    background: #6db306;
    padding:6px 20px 2px 20px;;
    margin:0 0 0 1px;
    cursor:pointer;
    border-radius: 5px 5px 0 0 ;
    border-top:2px solid #a0d468;
    border-left:2px solid #a0d468;
    border-right:2px solid #a0d468;
}
div#panel_goods_item div#panel_tabs div.bookmark div.btitle.active{background:white;
    border-bottom:3px solid white;
    border-top:2px solid #a0d468;
    border-left:2px solid #a0d468;
    border-right:2px solid #a0d468;
    color: #77b817;
}

