div#panel_members_list{position:relative;}
div#panel_members_list button#member_create{position:absolute;top:10px;right:10px;}

table.setting_right{table-layout:auto;border-collapse:collapse;width:100%;}
table.setting_right  td{border:1px solid #aaaaaa;padding:5px;text-align:center;width:100px;}
table.setting_right  th{background: #2a679e;color:white;}
table.setting_right  td:nth-child(1){text-align:left;width:auto;}
table.setting_right  td:nth-child(2){text-align:center;width:auto;}
table.setting_right  td:nth-child(3){text-align:center;width:auto;}
table.setting_right  tr:hover td{background: #aad8be;}
table.setting_right  tr.hidden{display:none;}
table.setting_right  input.small{width:50px;}
table.setting_right  tr.title td{text-transform:uppercase;color:black;font-weight:bold;cursor:pointer;}
table.setting_right  div.comment{font-size:10px;color:#aaaaaa;line-height:1.2em;}
