body {margin:0;padding:0;font-size:13px;font-style:normal;color:#272727;background:white;font-family: clear_sans_lightregular,Arial, Helvetica, sans-serif;}
body.float{background:none;}
body.editor{background:white;}
p{margin:0 0 10px 0;padding:0;font-family:Arial, Helvetica, sans-serif;font-size:13px;text-align: justify;color:#272727;}
button,input[type="button"],input[type="submit"] {  font-family: clear_sans_lightregular,Arial, Helvetica, sans-serif;}
form{margin: 0;padding: 0;}
a{color:#2a679e;text-decoration:underline;}
a:hover{text-decoration:underline;}

li{margin-left:20px;padding-left:0}
textarea.memo{width:95%;border:1px solid #d6d6d6;font-size: 11px;}
select{font-size:11px;}
strong{font-family:clear_sansbold,Arial, Helvetica, sans-serif;}

.v1{cursor: pointer;}
.v2{cursor: pointer;}

h1{font-size:24px;margin:10px 0 10px 0;font-weight:normal;color:#2a679e;}
div.h1{font-size:24px;margin:10px 0 10px 0;font-weight:normal;color:#2a679e;}
h1 a{color:#0ca7e2;text-decoration:none;}
h1 a:hover{text-decoration:underline;}
h1 img{margin-top:-10px;vertical-align:-4px;}
h1 span.paginator{font-size:11px;color:black;}
h1 span.collection{font-size:16px;color:black;font-style:italic;}
h2{font-size:20px;color:#2a679e;margin:10px 0;padding:0;text-align:left;text-decoration:none;text-transform:none;font-weight:normal;}
h2 a{color:#0ca7e2;text-decoration:none;}
h2 a:hover{text-decoration:underline;}
h3{color:black;margin:5px 0;}

.clear{ clear:both;height:0;display:block; }
.red{ color: #D70300; }
.green{color:#009933;}
.gray{ color: #626262; }
.blau{color:#000080;}
.black{color:#000000;}

.center{ text-align: center; }
.underline{text-decoration:underline;}
.left{ text-align: left; }
.right{ text-align: right; }
.justify{ text-align: justify; }
.bold{ font-weight: bold; }
.border{ border:1px solid black;}
.back_red{ background-color:red; }
.size11{font-size:11px;}
.size12{font-size:12px;}
.size14{font-size:14px;}
.size15{font-size:15px;}
.size16{font-size:16px;}
.size18{font-size:18px;}
.nowrap{white-space:nowrap;overflow:visible;}

.alert{text-align: center;font-size:12px;color:red;margin:10px 0;font-weight:bold;font-family:Arial, Helvetica, sans-serif;}
.float_left{float:left;margin-right:10px;}
.float_right{float:right;margin-right:10px;}


table.order_goods_info{table-layout:auto;border-collapse:collapse;width:100%;margin-top:20px;}
table.order_goods_info th{font-weight:bold;text-align:center;padding:10px;}
table.order_goods_info td{border:1px solid #aaaaaa;padding:10px;}
table.order_goods_info td.header{font-weight:bold;}

table.order_member_info{table-layout:auto;border-collapse:collapse;}
table.order_member_info td{border-bottom:1px solid #aaaaaa;padding:10px;}
table.order_member_info td.header{font-weight:bold;}








