body {margin:10px;padding:0;font-family:myriad, Arial, Helvetica,sans-serif;;font-size:13px;font-style:normal;color:#303030;}
a{color:#2476bb;text-decoration:underline;}
a:hover{}
li{margin-left:20px;padding-left:0}
img{border:none;}
ul{padding-left:0;}
ul li{margin:10px 15px;}
table.debug{table-layout:auto;border-collapse:collapse;width:auto;margin:15px 0;}
table.debug th{text-align:center;border:1px solid #d0d0d0;padding:7px 5px;background:#ededed;color:#3b3b3b;font-weight:bold;}
table.debug td{text-align:left;border:1px solid #d0d0d0;padding:7px 5px;color:#303030;}
h1{font-size:20px;margin:0 0 7px 0;font-weight:normal;}
h1 a{color:#000099;text-decoration:none;}
h1 a:hover{text-decoration:underline;}
h1 img{margin-top:-10px;vertical-align:-4px;}
h2{font-size:18px;color:#010101;margin:10px 0 5px;padding:0;text-align:left;font-weight:normal;}
h2 a{color:#6666FF;text-decoration:underline;}
h3{color:black;margin-left:20px;}

.clear{ clear:both;height:0;display:block; }
.red{ color: #D70300; }
.green{color:#009933;}
.gray{ color: #626262; }
.blau{color:#0083de;}
.black{color:#000000;}

.center{ text-align: center; }
.underline{text-decoration:underline;}
.left{ text-align: left; }
.right{ text-align: right; }
.justify{ text-align: justify; }
.bold{ font-weight: bold; }
.border{ border:1px solid black;}
.back_red{ background-color:red; }
.size11{font-size:11px;}
.size12{font-size:12px;}
.size14{font-size:14px;}
.size15{font-size:15px;}
.size16{font-size:16px;}
.size18{font-size:18px;}
.nowrap{white-space:nowrap;overflow:visible;}
.comment{font-size:11px;color:#009933;}
.comment strong{font-size:13px;color:#000000;}

table{table-layout:auto;border-collapse:collapse;width:auto;margin:5px 0;font-size:12px;}
table th{text-align:center;border:1px solid #d0d0d0;padding:7px 5px;background:#ededed;color:#3b3b3b;font-weight:bold;}
table td{border:1px solid #d0d0d0;padding:7px 5px;color:#303030;text-align:left;}
table td:first-child{font-weight:bold;}
table tr:hover td{background:#c5d6e8;color:black;}


