
/* reset browser defaults */

input, textarea, button, select {
	margin: 0;
	outline: none; 
}

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
}

/* transitions */

input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea,
div.select,
button {
	-webkit-transition: .1s linear border;
	-moz-transition: .1s linear border;
	-ms-transition: .1s linear border;
	-o-transition: .1s linear border;
	transition: .1s linear border;
}

/* textfield, textarea, checkboxes, select */

textarea {
	font-family: inherit;
}

input[type="text"],
input[type="password"],
textarea,
div.select {
	background-color: #fff;
	padding: 4px;
	border: 1px solid #d0d0d0;
	font-size: 14px;
	line-height: normal;
	color: #606060;
	resize: none;
	border-radius: 2px;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.12);
}

_div.select {padding:0 2px 0 2px;}

input[type="text"],
input[type="password"],
div.select {
	/*position: relative;*/
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="checkbox"]:hover,
textarea:hover,
div.select:hover {
	border-color: #b5b5b5;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="checkbox"][disabled],
textarea[disabled],
div.select[disabled] {
	border-color: #eeeeee;
	color: #eeeeee;
}


input[type="text"].input_error,
input[type="password"].input_error,
input[type="checkbox"].input_error,
textarea.input_error,
div.select.input_error {
	border-color: #ff7070;
	box-shadow: 0 0 5px #ff8585, inset 0 0 2px rgba(0, 0, 0, 0.12);
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
div.select.select_focus {
	border-color: #8ccfff;
	box-shadow: 0 0 5px #8ccfff, inset 0 0 2px rgba(0, 0, 0, 0.12);
}

/* required elements */

input[type="text"].input_required,
input[type="password"].input_required,
textarea.input_required {
	background-image: url(../ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Sprites.png);
	background-position: right -44px;
	background-repeat: no-repeat;
}

div.select.input_required:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	right: 21px;
	width: 3px;
	height: 3px;
	background: url(../ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Sprites.png) -277px -47px no-repeat;
}

input[data-required-hidden],
textarea[data-required-hidden],
div.select[data-required-hidden]:after {
	background-image: none !important;
}

/* placeholders */

.placeholder {
	white-space: nowrap;
	cursor: text;
	color: #b0b0b0;
}

.placeholder_focus {
	color: #c5c5c5;
}

::-webkit-input-placeholder {
    color: #b0b0b0;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #b0b0b0;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #b0b0b0;
}

/* checkboxes: webkit browsers */
/*
input[type="checkbox"],
input[type="radio"] {
	-webkit-appearance: none;
	font-size: 0;
	line-height: 0;
	padding: 0;
	width: 12px;
	height: 12px;
	cursor: pointer;
	border: 1px solid #d0d0d0;
	background-color: #fff;
	position: relative;
	vertical-align: bottom;
	border-radius: 2px;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.12);
} */
/*
input[type="checkbox"]:active,
input[type="radio"]:active {
	border-color: #8ccfff;
	background-color: #f0f9ff;
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after
{
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	left: 1px;
	width: 13px;
	height: 11px;
	background: url(../ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Sprites.png) 0px 0px no-repeat;
}

span.checkbox,
label.checkbox {
	cursor: pointer;
	padding-left: 8px;
	line-height: 0px;
}
  */
/* buttons */

button,
input[type="button"],
input[type="submit"] {
	cursor: pointer;
	position: relative;
	text-align: center;
	font-size: 12px;
	height: 25px;
	padding: 0px 15px;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25);
}

button * {
	cursor: pointer;
	pointer-events: none;
}

button.button_small,
input[type="button"].button_small,
input[type="submit"].button_small {
	height: 25px;
	font-size: 11px;
	padding: 0px 10px;
	border-radius: 2px;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.26) !important;
}

button:active > *:first-child {
	position: relative;
	top: 1px;
}

x:-o-prefocus, button:active *:first-child {
	position: static !important;
}

button[disabled],
input[type="button"][disabled],
input[type="submit"][disabled] {
	padding-top: 0px !important;
	cursor: default !important;
	border: 1px solid #d9d9d9 !important;
	color: #cacaca !important;
	text-shadow: 0 1px 1px #fdfdfd !important;
	box-shadow: none !important;
	background-color: #ececec !important;
	background-image: -webkit-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image: -moz-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image: -ms-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image: -o-linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	background-image: linear-gradient(top,#f9f9f9,#e4e4e4) !important;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#f9f9f9,EndColorStr=#e4e4e4) !important;
}

button.button_loading,
input[type="button"].button_loading,
input[type="submit"].button_loading {
	color: #d9d9d9 !important;
	text-shadow: 0 1px 1px #fefefe !important;

}
button.button_loading:after,
input[type="button"].button_loading:after,
input[type="submit"].button_loading:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-left: -8px;
	margin-top: -8px;
	background: url(../ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Spinner.gif) no-repeat;
}

/* gray button */

button,
input[type="button"],
input[type="submit"] {
	color: #707070;
	text-shadow: none;
	border: 1px solid #ccc;
	border-bottom: 1px solid #c0c0c0;
	background-color: #ececec;
	background-image: -webkit-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image: -moz-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image: -ms-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image: -o-linear-gradient(top,#fbfbfb,#e4e4e4);
	background-image: linear-gradient(top,#fbfbfb,#e4e4e4);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fbfbfb,EndColorStr=#e4e4e4);
	white-space:nowrap;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	border: 1px solid #235383;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(42, 103, 158, 0.07);
    background: #2a679e;
    color:white;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
	border: 1px solid #235383;
	border-bottom: 1px solid #1f4b74;
	background: #2a679e;
    color:white;
}

/* green button */

button.button_green,
input[type="button"].button_green,
input[type="submit"].button_green {
	color: #fff;
	text-shadow: 0 -1px 1px #779a35;
	border: 1px solid #779a35;
	border-bottom: 1px solid #708542;
	background-color: #83af31;
	background-image: -webkit-linear-gradient(top,#a9d05b,#77a423);
	background-image: -moz-linear-gradient(top,#a9d05b,#77a423);
	background-image: -ms-linear-gradient(top,#a9d05b,#77a423);
	background-image: -o-linear-gradient(top,#a9d05b,#77a423);
	background-image: linear-gradient(top,#a9d05b,#77a423);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#a9d05b,EndColorStr=#77a423);
}

button.button_green:hover,
input[type="button"].button_green:hover,
input[type="submit"].button_green:hover {
	border: 1px solid #577027;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
}

button.button_green:active,
input[type="button"].button_green:active,
input[type="submit"].button_green:active {
	border: 1px solid #6c8c30;
	border-bottom: 1px solid #779a35;
	background: #84af31;
}

/* yellow button */

button.button_yellow,
input[type="button"].button_yellow,
input[type="submit"].button_yellow {
	color: #fff;
	text-shadow: 0 -1px 1px #e09100;
	border: 1px solid #e09100;
	border-bottom: 1px solid #cd7d00;
	background-color: #ffb316;
	background-image: -webkit-linear-gradient(top,#ffd044,#ffa704);
	background-image: -moz-linear-gradient(top,#ffd044,#ffa704);
	background-image: -ms-linear-gradient(top,#ffd044,#ffa704);
	background-image: -o-linear-gradient(top,#ffd044,#ffa704);
	background-image: linear-gradient(top,#ffd044,#ffa704);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffd044,EndColorStr=#ffa704);
}

button.button_yellow:hover,
input[type="button"].button_yellow:hover,
input[type="submit"].button_yellow:hover {
	border: 1px solid #c27e00;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
}

button.button_yellow:active,
input[type="button"].button_yellow:active,
input[type="submit"].button_yellow:active {
	border: 1px solid #e09100;
	border-bottom: 1px solid #ed9e09;
	background: #ffb215;
}
/* red button */

button.button_red,
input[type="button"].button_red,
input[type="submit"].button_red {
	color: #fff;
	text-shadow: 0 -1px 1px #ff6666;
	border: 1px solid #a74242;
	border-bottom: 1px solid #803434;
	background-color: #f46363;
	background-image: -webkit-linear-gradient(top, #f46363, #c45454);
	background-image: -moz-linear-gradient(top,#f46363,#c45454);
	background-image: -ms-linear-gradient(top,#f46363,#c45454);
	background-image: -o-linear-gradient(top,#f46363,#c45454);
	background-image: linear-gradient(top,#f46363,#c45454);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#f46363,EndColorStr=#c45454);
}

button.button_red:hover,
input[type="button"].button_red:hover,
input[type="submit"].button_red:hover {
	border: 1px solid #803434;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.15);
}

button.button_red:active,
input[type="button"].button_red:active,
input[type="submit"].button_red:active {
	border: 1px solid #803434;
	border-bottom: 1px solid #803434;
	background: #803434;
}

/* disable text-selecting */

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
