/* ВЫВОД ТОВАРА ПРАЙСОМ*/
#block_main .list_goods {table-layout:fixed;border-collapse:collapse;empty-cells:show;width:100%;margin-top:2px;}
#block_main .list_goods col#c1	{width:136px;}
#block_main .list_goods col#c2	{width:250px;text-align:center;}
#block_main .list_goods col#c3	{width:auto;}
#block_main .list_goods col#c4	{width:90px;}
#block_main .list_goods col#c5	{width:90px;}
#block_main .list_goods tr.price_title_0{height:40px;background:#2A679E;font-family:Arial;color:white;font-size:18px;padding:0pt;}
#block_main .list_goods tr.price_title_1{height:30px;background:#EBEBF1;font-family:Arial;color:#2A679E;font-size:14px;font-weight:bold;padding:0pt;border-top:1px solid #C0C0C0;border-bottom:1px solid #C0C0C0;}
#block_main .list_goods tr.sel_0{background:#ffffff;}
#block_main .list_goods tr.sel_1{background:#f0f0f0;}
#block_main .list_goods td{padding:4px 5px;height:170px;}
#block_main .list_goods a{font-size:11px;color:#000000;text-decoration: none;}
#block_main .list_goods a:hover{color:black;text-decoration: underline;}
#block_main .list_goods a.as_button{float:left;display:block;margin:10px 35px;border:0px solid #d6d6d6;;padding-top:3px;height:19px;width:77px;font-size:11px;color:white;text-align:center;}
#block_main .list_goods a.as_button:hover{color:white;text-decoration: none;}
