div#panel_filter{}
div#panel_filter div.filter_item{position:relative;float:left;margin:0 50px 10px 0;min-width:250px;}
div#panel_filter div.filter_item:nth-child(3n+1){margin-left:0;}
div#panel_filter div.filter_item div.title{padding:5px 0 5px 0;font-size:13px;position:relative;font-weight:bold;text-transform:uppercase;}

div#panel_filter div.change_view_filter_props{float:left;}
div#panel_filter div.change_view_filter_props span{border-bottom:1px dashed black;}
div#panel_filter div.change_view_filter_props span:hover{border-bottom:1px solid black;}
div#panel_filter div.apply_filter{text-align:center;position:relative;}

div#panel_filter div#panel_filter_props{margin-top:20px;position:relative;width:930px;}

div#panel_filter div.filter_item div.filter_set{}

div#panel_filter div.filter_item div.filter_set.x2 div.item{margin:0;padding:4px 0 4px 0;width:109px;float:left;}
div#panel_filter div.filter_item div.filter_set.checkbox div.item{background:url('/images2/pic2.gif') no-repeat 6px center;padding-left:20px;cursor:pointer;}
div#panel_filter div.filter_item div.filter_set.checkbox div.item.on{background:url('/images2/check_on.png') no-repeat left center;padding-left:20px;}
div#panel_filter div.filter_item div.filter_set.radio div.item{background:url('/images2/pic2.gif') no-repeat 6px center;padding-left:20px;cursor:pointer;}
div#panel_filter div.filter_item div.filter_set.radio div.item.on{background:url('/images2/check_on.png') no-repeat left center;padding-left:20px;}
div#panel_filter div.filter_item div.filter_set.slider{}

div#panel_filter div.filter_item div.cur_filter_status{padding:0 0 0 10px;display:none;}
div#panel_filter div.filter_item div.cur_filter_status div.item{position:relative;font-size:12px;padding:1px 0 0 15px;font-family: arial, helvetica;background:url('/class/ext/panel_filter/images/dot_2_60.png') no-repeat left center;}
div#panel_filter div.filter_item div.cur_filter_status div.item:last-child{margin-bottom:10px;}
div#panel_filter div.filter_item div.cur_filter_status div.item div.del{display:none;position:absolute;right:0px;top:3px;width:24px;height:16px;background:url('/class/ext/panel_filter/images/delete.png') no-repeat 0 0;cursor:pointer;}
div#panel_filter div.filter_item div.cur_filter_status div.item:hover div.del{_display:block;}



/*для мыши*/
div#panel_filter.hovered div.filter_item:hover div.title{}
div#panel_filter.hovered div.filter_item.no_hover:hover div.title{background-color:transparent;}
div#panel_filter.hovered div.filter_item div.title:hover + div.fixed_right{display:block;}
div#panel_filter.hovered div.filter_item div.fixed_right:hover{display:block;}

/*для сенсорного экрана*/
div#panel_filter div.filter_item div.title.active{}
div#panel_filter div.filter_item.no_hover div.title.active{background-color:transparent;}
div#panel_filter div.filter_item div.title.active + div.fixed_right{display:block;}


div#panel_filter table.list_items_table_4cols_a_name{margin:5px -14px 5px 0;min-width: 250px;}

div#panel_filter table.list_items_table_4cols_a_name td{vertical-align:top;padding:0 10px;}
div#panel_filter table.list_items_table_4cols_a_name td:first-child{padding-left:0;}
div#panel_filter table.list_items_table_4cols_a_name td div.item{padding:5px 10px;border-top:1px solid #D5D5D5;width:140px;}
div#panel_filter table.list_items_table_4cols_a_name td div.item:first-child{border-top:none;}
_div#panel_filter table.list_items_table_4cols_a_name td div.item:hover{color:white;cursor:pointer;background-color: #e6d877;}

div#panel_filter div.filter_item.indx_select{min-width:150px;}
div#panel_filter div.filter_item.indx_select table.list_items_table_4cols_a_name{min-width:150px;}
div#panel_filter div.filter_item.indx_select table.list_items_table_4cols_a_name td div.item{width:140px;}

div#panel_filter div.filter_item.checkbox{min-width:50px;}
div#panel_filter div.filter_item.checkbox table.list_items_table_4cols_a_name{min-width:50px;}
div#panel_filter div.filter_item.checkbox table.list_items_table_4cols_a_name td div.item{width:40px;}
