/* For All */
div.slider {position:relative;width:250px;}
div.slider .selector { margin: 10px 0 15px; width:250px;}
/* Responsive layout */
div.slider .one-filter-column .selector { margin-bottom: 20px;  }
div.slider .one-filter-column .m-slider-values { line-height: 25px; }
div.slider .one-filter-column .m-slider-values input { width: 50px; padding: 1px 3px; }

/* Default style - style1 */
div.slider .selector { height: 17px; position: relative; background: transparent url(bkg_slider.png) 0 0 repeat-x; }
div.slider .selector > .marker_from, .selector > .marker_to { height: 17px; width: 17px; position: absolute; }
div.slider .selector > .marked { height: 8px; position: absolute; background: none; border-bottom: 2px solid #969696; margin: 0; }
div.slider .selector > .marker_from { background: transparent url(slider.png) 0 0 no-repeat; cursor: e-resize; }
div.slider .selector > .marker_to { background: transparent url(slider.png) -19px 0 no-repeat; cursor: w-resize; }

div.slider .m-slider-values {text-align: center; margin-top: 3px; }
div.slider .m-slider-values .slider_start_value { float: left; }
div.slider .m-slider-values .slider_end_value { float: right;}
div.slider .m-slider-selected-value {}

/* Style2 */
div.slider .selector.style2 { border: 2px solid #c8c8c8; border-width: 0 1px; background: transparent url(bkg_slider2.png) center 0 repeat-x; }
div.slider .selector.style2 > .marked { height: 6px; border-bottom: 5px solid #969696; }
div.slider .selector.style2 > .marker_from, .selector.style2 > .marker_to { height: 17px; width: 5px; background: #26b1e8 none; }
div.slider .selector.style2 > .marker_from { margin-right: 1px; }
div.slider .selector.style2 > .marker_to { margin-left: 1px; }
/* Touch screen slider style */
div.slider .one-filter-column .selector.style2 > .marker_from,
div.slider .one-filter-column .selector.style2 > .marker_to {  width:15px;  height:30px;  top:-7px;  }
/* Style3 */
div.slider .selector.style3 { background: #e6e6e6; }
div.slider .selector.style3,
div.slider .selector.style3 > .marked { height: 5px; border: none; }
div.slider .selector.style3 > .marked { background: #888; }
div.slider .selector.style3 > .marker_from,
div.slider .selector.style3 > .marker_to,
div.slider .selector.style3:before,
div.slider .selector.style3:after { height: 20px; width: 10px; top:-9px; background: #aaa none; z-index: 4; }
div.slider .selector.style3 > .marker_from,
div.slider .selector.style3 > .marker_to{  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);  border:1px solid #ccc;  background: #eeeeee;
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}
div.slider .selector.style3:before,
div.slider .selector.style3:after { position: absolute; left: 0; height:22px; top:-8px; width: 5px; background-color: #e6e6e6; display: block; content: ""; z-index: 3;}
div.slider .selector.style3:before{}
div.slider .selector.style3:after { right: 0; left: auto;}

/* Touch screen slider style */
div.slider .one-filter-column .selector.style3:before,
div.slider .one-filter-column .selector.style3:after{  width:5px;  height:30px;  top:-12px;  }
div.slider .one-filter-column .selector.style3 > .marker_from,
div.slider .one-filter-column .selector.style3 > .marker_to {  width:28px;  height:28px;  top:-14px;  }
/* Style4 */
div.slider .selector.style4,
div.slider .selector.style4 > .marked,
div.slider .selector.style4 > .marker_from,
div.slider .selector.style4 > .marker_to { border-radius:15px; height:10px; }
div.slider .selector.style4 {  background:#e3e3e3;  box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.2);  border: 1px solid #f2f2f2;  }
div.slider .selector.style4 > .marker_from,
div.slider .selector.style4 > .marker_to {
background: #aaa none;
box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
width:18px;
height:18px;
top:-5px;
border:1px solid #eee;
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
div.slider .selector.style4 > .marked {
background: #838383;
box-shadow: inset 0px 1px 3px 1px rgba(0,0,0,0.2);
border: none;
margin-left: -20px;
padding-left: 20px;
}
/* Touch screen slider style */
div.slider .one-filter-column .selector.style4 > .marker_from,
div.slider .one-filter-column .selector.style4 > .marker_to {  width:28px;  height:28px;  top:-10px;  }