/*@import url(http://fonts.googleapis.com/css?family=Fauna+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

* {
	margin: 0;
	padding: 0;
}
body {
	min-width: 640px;
	padding: 160px 40px 0 240px;
	font: 13px/1.5 'open_sansregular', Arial, sans-serif;
	line-height: 1.5;
}
a {
	text-decoration: underline;
	color: #457ae5;
}
a:hover {
	text-decoration: none;
}
section {
	margin-bottom: 120px;
}
aside {
	position: fixed;
	top: 0;
	left: 0;
	width: 199px;
	height: 100%;
	border-right: 1px solid #293133;
	background: #293133;
	box-shadow: inset -1px 0 rgba(255,255,255,0.2), 0 0 10px rgba(0,0,0,0.3);
}
aside:before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	left: 200px;
	height: 60px;
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}
aside:after {
	content: '';
	position: fixed;
	right: 0;
	bottom: 0;
	left: 200px;
	height: 40px;
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
aside p {
	position: absolute;
	bottom: 20px;
	padding: 0 30px;
	font-size: 11px;
	line-height: 17px;
	white-space: nowrap;
	color: #d2d7db;
}
aside p a {
	color: #9ac6dd;
}
aside img {
	position: absolute;
	top: 40px;
	left: 60px;
}
aside nav {
	position: absolute;
	top: 160px;
	bottom: 57px;
	overflow: auto;
}
aside nav a {
	display: block;
	padding: 5px 30px;
	text-shadow: 0 1px 1px #000;
	text-decoration: none; 
	color: #d2d7db;
}
aside nav a:hover {
	color: #9ac6dd;
}
section h1 {
	font: 56px/70px Fauna One, serif;	
	text-shadow: 3px 3px rgba(0,0,0,0.1);
}
section h2 {
	padding-top: 40px;
	font: 40px/50px Fauna One, serif;
	text-shadow: 2px 2px rgba(0,0,0,0.1);
}
section p {
	margin: 20px 0;
}
section ol {	
	counter-reset: list1;
	list-style: none;
	margin: 20px 0;
}
section ol > li {
	margin-top: 5px;
	position: relative;
	padding-left: 20px;
}
section ol > li:before {
	counter-increment:list1;
	content: counter(list1)'.';
	position: absolute;
	top: 0;
	left: 0;
}
section ul {
	list-style: none;
	margin: 20px 0;
}
section ul > li {
	margin-top: 5px;
	position: relative;
	padding-left: 20px;	
}
section ul > li:before {
	content: '•';
	position: absolute;
	top: 0;
	left: 0;
}
section pre {
	margin: 20px 0;
	padding: 20px;
	overflow: auto;
	background: #f2f2f2;
}