/*
div#panel_carusel_goods{width:521px;position:relative;
    -webkit-box-shadow: 0px 0px 12px rgba(134, 0, 0, 0.40);
    -moz-box-shadow:    0px 0px 12px rgba(134, 0, 0, 0.40);
    box-shadow:         0px 0px 12px rgba(134, 0, 0, 0.40);
}
div#panel_carusel_goods div.carusel{width:519px;;height:150px;position:relative;overflow:hidden;}
div#panel_carusel_goods div.content{width:10000px;height:150px;position:relative;}
div#panel_carusel_goods div.to_prev{width:36px;height:37px;position:absolute;top:51px;left:-22px;background:url('img/to_prev.png') no-repeat;cursor:pointer;}
div#panel_carusel_goods div.to_next{width:36px;height:37px;position:absolute;top:51px;right:-22px;background:url('img/to_next.png') no-repeat;cursor:pointer;}
div#panel_carusel_goods div.item{width:164px;height:140px;padding:5px;text-align:center;background:white;border-right:1px solid #e8c7cb;float:left;}
div#panel_carusel_goods div.item:first-child{padding-left:1px;}
div#panel_carusel_goods div.item div.name{margin:5px 0;}
div#panel_carusel_goods div.item div.name a{color:#272727;font-size:11px;}
div#panel_carusel_goods div.item div.name a strong{text-transform:uppercase;}
div#panel_carusel_goods div.item div.price{color:#fd001f;font-size:12px;margin-top:5px;}
div#panel_carusel_goods div.item div.price span{color:#545454;}
*/
/*div#goods_img{width:514px;position:relative;margin-top:11px;}*/
/*div#goods_img div.carusel{width:464px;height:106px;position:relative;overflow:hidden;margin-left:25px;}*/
/*div#goods_img div.content{width:10000px;height:106px;position:relative;}*/
/*div#goods_img div.to_prev{width:17px;height:106px;position:absolute;top:0;left:0;background:#f1f1f2 url('img/to_prev2.png') no-repeat center center;cursor:pointer;}*/
/*div#goods_img div.to_next{width:17px;height:106px;position:absolute;top:0;right:0;background:#f1f1f2 url('img/to_next2.png') no-repeat center center;cursor:pointer;}*/
/*div#goods_img div.item{width:104px;height:104px;float:left;margin-left:14px;}*/
/*div#goods_img div.item:first-child{margin-left:0;}*/

/*div#carusel_main_banner{width:903px;position:relative;}*/
/*div#carusel_main_banner div.carusel{width:846px;height:368px;position:relative;overflow:hidden;margin-left:28px;}*/
/*div#carusel_main_banner div.content{width:10000px;height:368px;position:relative;}*/
/*div#carusel_main_banner div.to_prev{width:28px;height:368px;position:absolute;top:0;left:0;background:#f1f1f2 url('img/to_prev2.png') no-repeat center center;cursor:pointer;}*/
/*div#carusel_main_banner div.to_next{width:28px;height:368px;position:absolute;top:0;right:0;background:#f1f1f2 url('img/to_next2.png') no-repeat center center;cursor:pointer;}*/
/*div#carusel_main_banner div.item{width:846px;height:368px;float:left;margin-left:14px;}*/
/*div#carusel_main_banner div.item:first-child{margin-left:0;}*/

.carusel_banner{width:100%;position:relative;margin-top:11px;}
.carusel_banner div.carusel{width:100%;height:170px;position:relative;overflow:hidden;}
.carusel_banner div.content{width:10000px;height:400px;position:relative;}
/*.carusel_banner div.to_prev{width:17px;height:17px;position:absolute;bottom:10px;left:30px;background: url('img/to_prev2.png') no-repeat center center;cursor:pointer;}*/
/*.carusel_banner div.to_next{width:17px;height:17px;position:absolute;bottom:10px;right:30px;background: url('img/to_next2.png') no-repeat center center;cursor:pointer;}*/
.carusel_banner div.item{width:300px;height:170px;float:left;margin-left:34px;}
.carusel_banner div.item:first-child{margin-left:0;}
.carusel_banner div.item img{width:296px;height:146px;border:2px solid black}
