
div#panel_goods_of_day{height:356px;width:224px;position:relative;left:0;border:1px solid gray}
div#panel_goods_of_day:hover{border:1px solid #e4811e;}
div#panel_goods_of_day a.img{position:absolute;top:53px;left:0;padding:0;}
div#panel_goods_of_day div.title{position:absolute;width:77px;height:47px;top:0;left:0;padding:15px 0 0 30px;color:#ec6b02;font-size:14px;line-height:1em;background:url('/images/back_57.jpg') no-repeat top left;text-align:center;}
div#panel_goods_of_day div.alt_price_value{position:absolute;bottom:48px;left:0;color:#34393c;width:108px;height:27px;font-size:14px;text-align:center;padding-top:3px;}
div#panel_goods_of_day div.alt_price_value strong{font-size:20px;font-weight:normal;text-decoration:line-through;}
div#panel_goods_of_day div.new_price_value{position:absolute;bottom:48px;right:0;width:108px;height:30px;padding:5px 0 0 10px;color:white;font-size:14px;background:url('/images/back_56.png') no-repeat;text-align:center;}
div#panel_goods_of_day div.new_price_value strong{font-size:22px;font-weight:normal;}
div#panel_goods_of_day div.sales_value{position:absolute;width:67px;height:41px;padding-top:10px;top:-3px;right:5px;color:white;font-weight:bold;font-size:22px;background:url('/images/back_58.png') no-repeat;text-align:center;}
div#panel_goods_of_day div.time_title{position:absolute;bottom:0;left:0;width:224px;height:47px;background:url('/images/back_62.png') no-repeat right top;border-top:1px solid #dedede;}
div#panel_goods_of_day div.time_value{position:absolute;bottom:28px;right:7px;color:#423e3b;font-size:12px;}
div#panel_goods_of_day div.count{position:absolute;bottom:6px;right:7px;color:#423e3b;font-size:12px;width:53px;text-align:center;}
div#panel_goods_of_day div.name{position:absolute;left:0;bottom:84px;height:0;width:215px;background:url('/images/back_59.png') repeat;padding:0 0 0 9px;display:none;}
div#panel_goods_of_day div.name div{height:7px;}
div#panel_goods_of_day div.name a.go{}
div#panel_goods_of_day div.name a.name{font-size:11px;color:white;text-decoration:none;}
div#panel_goods_of_day div.name a:hover{text-decoration:underline;}
div#panel_goods_of_day div.rasdel{position:absolute;width:100%;height:1px;background-color:#e5e5e5;left:0;bottom:83px;}


/*
div#panel_goods_of_day{height:308px;background:url('/images/back_57.jpg') no-repeat top left;position:relative;}
div#panel_goods_of_day:hover{border:1px solid #e4811e;}
div#panel_goods_of_day a.img{position:absolute;top:69px;left:0;padding:0;}
div#panel_goods_of_day div.title{position:absolute;top:17px;left:140px;color:#ec6b02;font-size:26px;}
div#panel_goods_of_day div.alt_price_title{position:absolute;top:51px;left:140px;color:#969696;font-size:9px;}
div#panel_goods_of_day div.alt_price_value{position:absolute;bottom:0;left:0;color:#34393c;width:108px;height:27px;font-size:14px;text-align:center;padding-top:3px;}
div#panel_goods_of_day div.alt_price_value strong{font-size:20px;font-weight:normal;text-decoration:line-through;}
div#panel_goods_of_day div.new_price_title{position:absolute;top:77px;left:140px;color:#188fc1;font-size:14px;}
div#panel_goods_of_day div.new_price_value{position:absolute;bottom:0;right:0;width:108px;height:30px;padding:5px 0 0 10px;color:white;font-size:14px;background:url('/images/back_56.png') no-repeat;text-align:center;}
div#panel_goods_of_day div.new_price_value strong{font-size:22px;font-weight:normal;}
div#panel_goods_of_day div.sales_value{position:absolute;width:67px;height:41px;padding-top:10px;top:-3px;right:5px;color:white;font-weight:bold;font-size:22px;background:url('/images/back_58.png') no-repeat;text-align:center;}
div#panel_goods_of_day div.time_title{position:absolute;top:70px;right:10px;color:#969696;font-size:10px;}
div#panel_goods_of_day div.time_value{position:absolute;top:85px;right:10px;color:#ec6b02;font-size:26px;}
div#panel_goods_of_day div.time_value span#sec{font-size:13px;vertical-align:text-top;margin-left:4px;}
div#panel_goods_of_day div.name{position:absolute;left:0;bottom:36px;height:65px;width:224px;background:url('/images/back_59.png') repeat;}
div#panel_goods_of_day div.name a.name{font-size:12px;color:white;position:absolute;text-decoration:underline;left:11px;top:35px;text-decoration:none;}
div#panel_goods_of_day div.name a:hover{text-decoration:underline;}
div#panel_goods_of_day div.name a.go{position:absolute;text-decoration:none;left:9px;top:7px;}
*/

