.highslide-wrapper, .highslide-outline {background: #FFFFFF;}
.highslide img {border: 1px solid white;}
.highslide:hover img {border-color: #A0A0A0;}
.highslide-active-anchor img {visibility: visible;border-color: #808080 !important;}
.highslide-image {border: 2px solid #FFFFFF;}
.highslide-loading {color: black;border: 1px solid black;background-color: white;background-image: url(graphics/loader.white.gif);}
.highslide-controls {position: static !important;margin-bottom: 0;width: 195px !important;}
