/*корзина*/
table.list_goods_table_cart{width:100%;border-collapse:collapse;table-layout:auto;border-top:4px solid #848484;}
table.list_goods_table_cart td{border-bottom:1px solid #e3e3e3;}
table.list_goods_table_cart tr.header td{height:40px;border-bottom:none;background:#f2f1ef;text-align:center;}
table.list_goods_table_cart td.del{width:38px;}
table.list_goods_table_cart td.del div.del_from_cart{width:15px;height:15px;margin:10px 0 0 10px;background:url('/images/back_close2.png') no-repeat 0 -15px;}
table.list_goods_table_cart td.del div.del_from_cart:hover{background-position:0 0;}
table.list_goods_table_cart td.img{width:194px;}
table.list_goods_table_cart td.name{width:auto;}
table.list_goods_table_cart td.name div.brand{color:black;text-transform:uppercase;font-size:16px;margin-bottom:5px;}
table.list_goods_table_cart td.name div.sortament_name{position:relative;top:-15px;}
table.list_goods_table_cart td.name div.name{color:black;text-transform:uppercase;font-size:14px;font-weight:lighter;margin-bottom:15px;}
table.list_goods_table_cart td.name div.sales_info{}
table.list_goods_table_cart td.name div.price{font-size:14px;color:#8A8A8A;}
table.list_goods_table_cart td.cnt{width:144px;text-align:center;background:url('/images/back_36.png') no-repeat left center;}
table.list_goods_table_cart td.cnt input[type="text"]{width:42px;height:17px;text-align:center;margin:0 5px;}
table.list_goods_table_cart td.price{width:152px;font-size:18px;text-align:center;color:#3d3d3d;background:url('/images/back_36.png') no-repeat left center;}
table.list_goods_table_cart tr.itog_title td{height:43px;text-align:center;font-size:22px;color:white;border-bottom:none;background:#ABABAB;; }
table.list_goods_table_cart tr.itog_action td{height:79px;}
table.list_goods_table_cart tr.itog_action td div.go_back{float:left;margin:10px 0 0 0;padding:0 0 0 17px;background:url('/images/to_prev.png') no-repeat left center;height:13px;font-weight:normal;text-decoration:underline;}
table.list_goods_table_cart tr.itog_action td div.price{float:right;margin:-8px 0 0 0;font-size:24px;color:#3d3d3d;}
table.list_goods_table_cart tr.itog_action td div.buttons{float:right;margin:-5px 0 0 10px;}


div#panel_cart_preview_van{font-size:17px;}
div#panel_cart_preview_van table{border-bottom:1px solid #cacaca;width:100%;table-layout:fixed;border-collapse:collapse;margin-bottom:20px;}
div#panel_cart_preview_van table col#c1{width:80px;}
div#panel_cart_preview_van table col#c2{width:100px;}
div#panel_cart_preview_van table col#c3{width:110px;}
div#panel_cart_preview_van table col#c4{width:100px;}
div#panel_cart_preview_van table col#c5{width:auto;}
div#panel_cart_preview_van table td{text-align:left;vertical-align:middle;padding:5px 0 10px 0;}
div#panel_cart_preview_van table td.name{font-size:19px;text-transform:uppercase;}
div#panel_cart_preview_van table td.name div.brand{font-size:15px;margin-top:0;}
div#panel_cart_preview_van table td.name div.sortament_name{font-size:15px;margin-top:0;}
div#panel_cart_preview_van table td.cnt{}
div#panel_cart_preview_van table td.cnt span{cursor:pointer;margin:0 5px;}
div#panel_cart_preview_van table td.cnt input{width:40px;text-align:center;}
div#panel_cart_preview_van table td.price1{text-align:left;}
div#panel_cart_preview_van table td.price2{text-align:right;font-weight:bold;font-size:18px;font-family: PTSansNarrowRegular,Arial,Helvetica, sans-serif;}
div#panel_cart_preview_van table td img{border:1px solid #e0e0e0;}
div#panel_cart_preview_van table td a{color:#272727;text-decoration:none;}
div#panel_cart_preview_van table td a:hover{text-decoration:underline;}
div#panel_cart_preview_van div.sum_cnt{float:left;}
div#panel_cart_preview_van div.sum_price{float:right;}
div#panel_cart_preview_van div.cart_buttons{text-align:right;margin:10px 0 0 0 ;}
div#panel_cart_preview_van div.cart_buttons button{margin-left:10px;}

