
div.panel_carusel_goods{width:850px;position:relative;margin:0 auto;}
div.panel_carusel_goods div.carusel{width:850px;;height:159px;position:relative;overflow:hidden;}
div.panel_carusel_goods div.carusel div.content{width:10000px;height:228px;position:relative;}
/*div.panel_carusel_goods div.to_prev{width:24px;height:48px;position:absolute;top:38px;left:-31px;background:url('img/lr2.png') no-repeat 0 0;cursor:pointer;}*/
/*div.panel_carusel_goods div.to_next{width:24px;height:48px;position:absolute;top:38px;right:-31px;background:url('img/lr2.png') no-repeat 0 -48px;cursor:pointer;}*/
div.panel_carusel_goods div.to_prev{display: none}
div.panel_carusel_goods div.to_next{display: none}
div.panel_carusel_goods div.to_prev:hover{background-position:-24px 0;}
div.panel_carusel_goods div.to_next:hover{background-position:-24px -48px;}
div.panel_carusel_goods div.item{margin-left:0;margin-right:27px;}
div.panel_carusel_goods div.item:nth-child(6n+1){margin-left:0;}
div.panel_carusel_goods div.item:first-child{margin-left:0;}
/*
div#panel_carusel_goods div.item div.name{position:absolute;bottom:40px;left:0;width:200px;text-align:center;background: rgba(255, 255, 255, 0.53);}
div#panel_carusel_goods div.item div.name a{color:#272727;font-size:16px;}
div#panel_carusel_goods div.item div.name a strong{text-transform:uppercase;}
div#panel_carusel_goods div.item div.price{color:#fd001f;margin-top:5px;position:absolute;bottom:15px;;left:0;width:200px;text-align:center;font-size:22px;}
div#panel_carusel_goods div.item div.price span{color:#545454;font-size:14px;}
*/

div#goods_img{width:366px;position:relative;margin-top:11px;margin-left:2px;}
div#goods_img div.carusel{width:316px;height:106px;position:relative;overflow:hidden;margin-left:25px;}
div#goods_img div.content{width:10000px;height:106px;position:relative;}
div#goods_img div.to_prev{width:17px;height:106px;position:absolute;top:0;left:0;background:#f1f1f2 url('img/to_prev2.png') no-repeat center center;cursor:pointer;}
div#goods_img div.to_next{width:17px;height:106px;position:absolute;top:0;right:0;background:#f1f1f2 url('img/to_next2.png') no-repeat center center;cursor:pointer;}
div#goods_img div.item{width:104px;height:104px;float:left;margin-left:4px;}
div#goods_img div.item:first-child{margin-left:0;}
/*
div#carusel_main_banner{width:903px;position:relative;}
div#carusel_main_banner div.carusel{width:846px;height:368px;position:relative;overflow:hidden;margin-left:28px;}
div#carusel_main_banner div.content{width:10000px;height:368px;position:relative;}
div#carusel_main_banner div.to_prev{width:28px;height:368px;position:absolute;top:0;left:0;background:#f1f1f2 url('img/to_prev2.png') no-repeat center center;cursor:pointer;}
div#carusel_main_banner div.to_next{width:28px;height:368px;position:absolute;top:0;right:0;background:#f1f1f2 url('img/to_next2.png') no-repeat center center;cursor:pointer;}
div#carusel_main_banner div.item{width:846px;height:368px;float:left;margin-left:14px;}
div#carusel_main_banner div.item:first-child{margin-left:0;}
*/

