div.item{margin:2px 0;}
div.item div.name.level_0{font-size:13px;font-weight:bold;color:black;margin-top:5px;text-transform:uppercase;}
div.item div.name.level_1{font-size:12px;color:black;margin-top:3px;}
div.item div.name input[type=checkbox]{position:relative;top:-1px;}
div.item div.name:hover{color:black;text-decoration:underline;}
div.item div.subitems{margin:0 0 0 10px;}
div.panel_scrollbar { width: 500px; margin: 0 0 10px; }
div.panel_scrollbar .viewport { width: 475px; height: 250px; overflow: hidden; position: relative;float:left; }
div.panel_scrollbar .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
div.panel_scrollbar .scrollbar{ background: transparent url(../../ext/tinyscroollbar/images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
div.panel_scrollbar .track { background: transparent url(../../ext/tinyscroollbar/images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
div.panel_scrollbar .thumb { background: transparent url(../../ext/tinyscroollbar/images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
div.panel_scrollbar .thumb .end { background: transparent url(../../ext/tinyscroollbar/images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
div.panel_scrollbar .disable { display: none; }