body {margin:0;padding:0;font-size:12px;font-style:normal;color:#272727;background:white;font-family: Arial, Helvetica, sans-serif;}
p{margin:0 0 10px 0;padding:0;font-family:Arial, Helvetica, sans-serif;font-size:13px;text-align: justify;color:#272727;}
a{color:#2a679e;text-decoration:underline;}
a:hover{text-decoration:underline;}
li{margin-left:20px;padding-left:0}

.v1{cursor: pointer;}
.v2{cursor: pointer;}

h1{font-size:24px;margin:10px 0 10px 0;font-weight:normal;color:#2a679e;}
div.h1{font-size:24px;margin:10px 0 10px 0;font-weight:normal;color:#2a679e;}
h1 a{color:#0ca7e2;text-decoration:none;}
h1 a:hover{text-decoration:underline;}
h1 img{margin-top:-10px;vertical-align:-4px;}
h1 span.paginator{font-size:11px;color:black;}
h1 span.collection{font-size:16px;color:black;font-style:italic;}
h2{font-size:20px;color:#2a679e;margin:10px 0;padding:0;text-align:left;text-decoration:none;text-transform:none;font-weight:normal;}
h2 a{color:#0ca7e2;text-decoration:none;}
h2 a:hover{text-decoration:underline;}
h3{color:black;margin:5px 0;}

.clear{ clear:both;height:0;display:block; }
.red{ color: #D70300; }
.green{color:#009933;}
.gray{ color: #626262; }
.blau{color:#000080;}
.black{color:#000000;}

.center{ text-align: center; }
.underline{text-decoration:underline;}
.left{ text-align: left; }
.right{ text-align: right; }
.justify{ text-align: justify; }
.bold{ font-weight: bold; }
.border{ border:1px solid black;}
.back_red{ background-color:red; }
.size11{font-size:11px;}
.size12{font-size:12px;}
.size14{font-size:14px;}
.size15{font-size:15px;}
.size16{font-size:16px;}
.size18{font-size:18px;}
.nowrap{white-space:nowrap;overflow:visible;}

.alert{text-align: center;font-size:12px;color:red;margin:10px 0;font-weight:bold;font-family:Arial, Helvetica, sans-serif;}
.float_left{float:left;margin-right:10px;}
.float_right{float:right;margin-right:10px;}

img.stamp{position:absolute;top:20px;left:20px;}

table.smena_info{table-layout:fixed;border-collapse:collapse;margin-top:20px;}
table.smena_info td{padding:5px;border-top:1px solid #aaaaaa;}
table.smena_info tr:first-child td{border-top:none;}
table.smena_info td:first-child{width:150px;}
table.smena_info td:last-child{width:200px;font-size:13px;}

table.list_mo_sessions_report{width:100%;table-layout:auto;border:1px solid #cccccc;margin-top:10px;border-collapse:collapse;}
table.list_mo_sessions_report col#c0{width:30px;}
table.list_mo_sessions_report col#c1{width:120px;}
table.list_mo_sessions_report col#c2{width:50px;}
table.list_mo_sessions_report col#c22{width:50px;}
table.list_mo_sessions_report col#c3{width:auto;}
table.list_mo_sessions_report col#c4{width:70px;}
table.list_mo_sessions_report col#c11{width:80px;}
table.list_mo_sessions_report col#c12{width:auto;}
table.list_mo_sessions_report col#c13{width:110px;}
table.list_mo_sessions_report th{border:1px solid #dddddd;text-align:center;padding:5px;background:#dddddd;font-weight:bold;}
table.list_mo_sessions_report td{border:1px solid #aaaaaa;text-align:center;padding:5px;}
table.list_mo_sessions_report td.name{text-align:left;}
table.list_mo_sessions_report td.state_1{color:black;}
table.list_mo_sessions_report td.state_2{color:green;font-weight:bold;}
table.list_mo_sessions_report td.state_3{color:darkred;font-weight:bold;}
table.list_mo_sessions_report td.comment{text-align:left;}
table.list_mo_sessions_report td.comment ul{padding-left:0;margin-top:0;margin-bottom:0;color:red;}
table.list_mo_sessions_report div.ok{color:green;text-align:center;}
table.list_mo_sessions_report td.result table td{text-align:left;}

table.list_TO_report{table-layout:auto;border-collapse:separate;margin-top:20px;}
table.list_TO_report th{border:1px solid #dddddd;text-align:center;padding:5px;background:#dddddd;font-weight:bold;vertical-align:middle;}
table.list_TO_report td{border:1px solid #aaaaaa;text-align:center;padding:5px;vertical-align:middle;}

table.basic{table-layout:fixed;border-collapse:collapse;font-size:16px;}
table.basic th{text-align:center;background:#eeeeee;padding:10px;border: 1px solid #dddddd}
table.basic td{padding:10px;text-align:center;border:1px solid #eeeeee;vertical-align:middle;}

table.basic.b2 td{padding:10px;text-align:left;border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;border-left:none;border-right:none;background:white;}
table.basic.b2 td:first-child{font-weight:bold;}
table.basic.b2 tr:last-child td{border-bottom:none;}
table.basic.b2.fz_small td{padding:5px;}
table.basic.fz_small2 th{padding:4px;}
table.basic.fz_small2 td{padding:4px;background-color:white;}

table.basic.full{width:100%;;}
table.basic.auto{table-layout:auto;}
table.basic.fz_small{font-size:12px;}
table.basic.fz_small2{font-size:12px;}
table.basic.fz_normal{font-size:14px;}
table.basic.fz_big{font-size:16px;}
table.basic.left td{text-align:left;}
table.basic ul{padding-left:0;}
table.basic ul li{padding-left:0;}

table.basic td.left{text-align:left;}
table.basic td.right{text-align:right;}










