html{width:100%;height:100%;margin:0;padding:0;}
body {font-family: 'Helvetica Neue', Helvetica, Arial;color: #212121;position: relative;;font-size:12px;line-height:1.5em;  margin:0;width:100%;}
body.editor{background:white;}
body.to_print{background:white;margin-top:0;}

p{margin:5px 0 5px;padding:0;}
form{margin: 0;padding: 0;}
a{color: #204388;}
a p{color:inherit;}
a strong{color:black;}
a:hover{}
ul.info{margin-top:5px;}
li{margin:2px 0 2px 20px;padding-left:0}
input[type="text"].big{width:200px;}
/*input[type="checkbox"], input[type="radio"] {position:relative;top:-7px;}*/
input#propusk + div.status{display:none;;width:18px;height:18px;background:url('/images/big_access_denied.png') no-repeat;}
input#propusk.input_error{float:left;}
input#propusk.input_error + div.status{display:block;float:left;margin-left:10px;position:relative;top:3px;}

label input[type="checkbox"], input[type="radio"] {position:relative;top:-1px;}
textarea.memo{width:95%;border:1px solid #d6d6d6;font-size: 11px;}
select{font-size:11px;}
select[data-select]{position:relative;top:3px;}
img{border:none;}
img.shadow{
    margin:5px;-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
strong{color:black;font-family: open_sansbold, 'Helvetica Neue', Helvetica, Arial;}
.small{font-size:10px;}
div.alert2{font-size:14px;color:red;}
div.info{font-size:14px;color:green;}

h1{font-family: open_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:20px;margin:10px 0;padding:0 0 8px 0;font-weight:normal;border-bottom:3px solid rgb(1, 161, 165);}
h1 a{color:#000099;text-decoration:none;}
h1 a:hover{text-decoration:underline;}
h1 img{margin-top:-10px;vertical-align:-4px;}
h1 span.paginator{font-size:12px;}
h2{font-family: open_sansregular, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;color:#282828;margin:6px 0 6px 0;padding:0;text-align:left;text-decoration:none;text-transform:none;font-weight:normal;}
h2 a{color:#6666FF;text-decoration:underline;}
h3{color:black;}

.clear{ clear:both;height:0;display:block; }
.red{ color: #D70300; }
.green{color:#009933;}
.gray{ color: #626262; }
.light_gray{ color: #7E7E7E; }
.blau{color:#000080;}
.black{color:#000000;}
.hidden{display:none;}

.center{ text-align: center; }
.underline{text-decoration:underline;}
.left{ text-align: left; }
.right{ text-align: right; }
.justify{ text-align: justify; }
.bold{ font-weight: bold; }
.border{ border:1px solid black;}
.back_red{ background-color:red; }
.size11{font-size:11px;}
.size12{font-size:12px;}
.size14{font-size:14px;}
.size15{font-size:15px;}
.size16{font-size:16px;}
.size18{font-size:18px;}
.nowrap{white-space:nowrap;overflow:visible;}
table.debug{font-size:11px;}

span.favorite{color:#DFDFDF;font-size:18px;}
span.favorite:hover{color:#d90e1e;}
span.favorite.active{color: #d90e1e;}
span.favorite.active:hover{color:#DFDFDF;}

.v1{cursor:pointer;}
.v2{cursor:pointer;}
input.v2[type="text"]{cursor:auto;}
img.v1{opacity:0.5}
img.v1:hover{opacity:1}

.alert{text-align: center;font-size:12px;color:red;margin:10px 0;font-weight:bold;}
table .alert{text-align:left;}
.alert_info{text-align: center;font-size:12px;color: #579b0a;margin:10px 0;font-weight:bold;}
.float_left{float:left;}
.float_right{float:right;}
.float_left{margin-right:10px;}
img.float_left{float:left;margin-right:10px;}
img.float_right{float:right;margin-right:10px;}

/*строка навигации*/
div#page_path {margin:0 0 0 0;padding:0;font-size: 11px;}
div#page_path a{text-decoration: none ;margin:0;color:#c6adcc;}
div#page_path a:hover{text-decoration:underline;margin:0;}
div#page_path img{position:relative;top:0;margin:0 5px}

/* СТРУКТУРА САЙТА */
body{}
body.terminal{margin-top:0;}
body.terminal div#panel_top_time{position:absolute;top:6px;left:0;color:black;font-weight:bold;}
body.to_print div#block_main{margin:10px;padding:0;width:100%;border:none;}
/*главная страница - форма ввода логин/пароля*/
body.x1 > table#wrapper.login_panel{width:370px;height:100%;text-align:center;vertical-align:middle;margin:0 auto;background:none;}
body.x1 > table#wrapper.login_panel td{border:none;}
body.x1 > table#wrapper div#panel_autorize_main{}
body.x1 > table#wrapper div#panel_autorize_main div.title{font-size:18px;line-height:1.5em;margin-bottom:20px;;}
body.x1 > table#wrapper div#panel_autorize_main div.help{width:480px;margin:40px auto 0 auto;text-align:right;}
body.x1 > table#wrapper div#panel_autorize_main div.help a{padding-left:25px;}

body.login_panel{margin:0;width:100%;height:100%;padding:0;position:relative;}
body.body_work{}
body.body_work > div.body{margin:0 7px 20px 0;padding-top:90px;padding-left:10px;}

body.center_panel #block_main{width:400px;text-align:center;}

body.index table.small_contact_form{width:500px;margin:0 auto;background-color:transparent;border:none;}
body.index table.small_contact_form td{text-align:left;}
body.index table.small_contact_form td div.comment{font-size:12px;}

#block_top{background:white;position: fixed;top:0;left:0;width:100%;height:34px;z-index:9000;}
#block_top > div.inner{width:90%;margin:0 auto;height:30px;padding:0;position:relative;}
#block_tabs{width:90%;margin:10px auto 0 auto;padding:0;position:relative;z-index:100;}
#block_main{margin:0 0 0 0;padding:10px;position:relative;background-color:white;min-width:780px;}
#block_right{margin:0 0 0 0;padding:10px 10px 0 10px;position:relative;background-color:white;border:1px solid #aaaaaa;max-width:300px;min-width:250px;}
#block_center{margin:0 0 0 0;width:100%;table-layout:auto;  border-spacing: 0;  border-collapse: collapse;  position: relative;  top: -1px;  left: -1px;}

#block_top{background:white;-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);  }

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ПАНЕЛЬ ФИЛЬТРА
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#block_center td#center_left{vertical-align:top;width:100%;}
#block_center td#center_left div#panel_report_view {position:relative;}
#block_center td#center_left div#panel_report_view div#button_open_right_panel{position:absolute;right:-25px;top:33px;font-size:20px;cursor:pointer;}
#block_center td#center_left div#panel_report_view div#button_open_right_panel:hover{color:green;}

#block_center td#center_right{vertical-align:top;max-width:300px;}
#block_center td#center_right div#button_hidden_right_panel{position:absolute;top:22px;right:10px;font-size:20px;cursor:pointer;z-index:1000;}
#block_center td#center_right div#button_hidden_right_panel:hover{color:green;}
#block_center td#center_right div#button_show_right_panel{position:absolute;top:22px;right:10px;font-size:20px;cursor:pointer;z-index:1000;}
#block_center td#center_right div#button_show_right_panel:hover{color:green;}
#block_center td#center_right div#button_close_right_panel{position:absolute;top:22px;right:40px;font-size:20px;cursor:pointer;z-index:1000;}
#block_center td#center_right div#button_close_right_panel:hover{color:green;}
#block_center td#center_right .sky-form fieldset{padding-right:0px;}
#block_center td#center_right .sky-form fieldset{padding-right:0px;}
#block_center td#center_right .sky-form button{margin:10px 0 0 0;}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ШАПКА САЙТА
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#block_top div#panel_account_info{float:right;color:black;margin-right:10px;line-height:1em;margin-top:5px;}
#block_top div#panel_account_info span.name{font-weight:bold;}
#block_top div#panel_account_info a{text-decoration:underline;font-weight:normal;}
#block_top div#panel_account_info a:hover{text-decoration:underline;}
#block_top div#panel_button_back{float:right;margin-right:10px;line-height:1em;margin-top:5px;}

#block_top div#panel_work_group{float:right;margin-right:10px;line-height:1em;margin-top:5px;}

div#panel_top_time{position:absolute;top:8px;right:450px;color:black;font-weight:bold;}


/*.highslide-wrapper, .highslide-outline {background: #FFFFFF;}
.highslide img {border:none;}
.highslide:hover img {border-color: #A0A0A0;}
.highslide-active-anchor img {visibility: visible;border-color: #808080 !important;}
.highslide-image {border: 2px solid #FFFFFF;}
.highslide-loading {color: black;border: 1px solid black;background-color: white;background-image: url(/AddOns/highslide-4.1.12/graphics/loader.white.gif);}
.highslide-controls {position: static !important;margin-bottom: 0;width: 195px !important;}
*/





ul#panel_second_menu{float:left;position:relative;top:0;left:1px;box-shadow:none;margin-top:-10px;}
ul#panel_second_menu li{padding:0;}
ul#panel_second_menu li:last-child{border-right:none;}
ul#panel_second_menu li a{padding:12px 20px;}

img#project_logo{float:right;margin:0 0 15px 15px;position:relative;right:-10px;top:-10px;}
div.buttons{text-align:center;margin:15px 0;}
div.buttons button{margin:5px 15px;}
button.to_create_new_project{position:absolute;right:20px;top:20px;}
div.button_view{position:absolute;right:156px;top:20px;}
div.button_view div{float:left;margin-left:10px;width:24px;height:24px;}
div.button_view div[value="icons"]{background:url('/images/categorize-24.png') no-repeat;}
div.button_view div[value="icons"].active{background:url('/images/categorize-24-active.png') no-repeat;}
div.button_view div[value="list"]{background:url('/images/view-details-24.png') no-repeat;}
div.button_view div[value="list"].active{background:url('/images/view-details-24-active.png') no-repeat;}
div.button_view div[value="info"]{background:url('/images/info-24.png') no-repeat;}
div.button_view div[value="info"].active{background:url('/images/info-24-active.png') no-repeat;}

table.contact_form {table-layout:fixed;border-collapse:separate;empty-cells:show;width:700px;margin:10px auto;background-color: #F4F4F4;border:1px solid #ededed;text-align:left;font-size:13px;color:black;}
table.contact_form col#c1	{width:250px;}
table.contact_form col#c2	{width:auto;}
table.contact_form input.text{width:400px;border:1px solid #d6d6d6;height:30px;font-size:20px;}
table.contact_form input.check_code{width:70px;}
table.contact_form textarea{width:90%;border:1px solid #d6d6d6;display:block;}
table.contact_form td{vertical-align:top;padding:10px;}
table.contact_form td.title{padding-top:18px;text-align:right;font-size:16px;}
table.contact_form td.label{padding-top:3px;text-align:right;}
table.contact_form tr.head{height:30px;font-weight:bold;vertical-align:middle;padding-left:10px;color:#000099;}
table.contact_form td.check_code{vertical-align:top;padding:10px;}
table.contact_form td.check_code input{width:70px;}
table.contact_form td.button{padding-left:200px;height:50px;vertical-align:top;}
table.contact_form span.comment{font-size:11px;padding-top:5px;display:block;}

.mBoxContent p.alert{color:white;margin:0;padding:0;text-align:left;}

div#cab_tabs{height:26px;overflow:visible;position:relative;left:-1px;}
div#cab_tabs div.item{display:block;float:left;border:1px solid #bbbbbb;padding:6px 10px 0 10px;margin:0 2px;height:19px;;
                         background: rgb(220, 220, 220);
                         background: -moz-linear-gradient(269deg, rgb(220, 220, 220) 0%, rgb(240, 240, 240) 100%);
                         background: -webkit-linear-gradient(269deg, rgb(220, 220, 220) 0%, rgb(240, 240, 240) 100%);
                         background: -o-linear-gradient(269deg, rgb(220, 220, 220) 0%, rgb(240, 240, 240) 100%);
                         background: -ms-linear-gradient(269deg, rgb(220, 220, 220) 0%, rgb(240, 240, 240) 100%);
                         background: linear-gradient(359deg, rgb(220, 220, 220) 0%, rgb(240, 240, 240) 100%);

                         -moz-border-radius-topleft: 5px;
                         -webkit-border-top-left-radius: 5px;
                         border-top-left-radius: 5px;
                         -moz-border-radius-topright: 5px;
                         -webkit-border-top-right-radius: 5px;
                         border-top-right-radius: 5px;
}
div#cab_tabs div.item.active{background:white;border-bottom:none;height:20px;z-index:1000;}
div#cab_tabs div.item:first-child{margin-left:0;}
div#cab_tabs div.item a{text-decoration:none;color:black;font-size:15px;}


.list_images_highslide{text-align:center;margin:15px 0;}
.list_images_highslide div.item{text-align:center;float:left;margin:0 20px 20px 0;}
.list_images_highslide div.item img{margin:0 0 5px 0;cursor:pointer;-webkit-box-shadow:0 0 15px rgba(0, 0, 0, 0.35);-moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.35);box-shadow:0 0 15px rgba(0, 0, 0, 0.35);}

table.list_files_table{}
table.list_files_table tr{}
table.list_files_table tr td{border-bottom:1px dotted #aaaaaa;text-align:left;vertical-align:middle;padding:5px 10px;}
table.list_files_table tr td.name{font-weight:bold;color:black;}


div.close_window{width:28px;height:28px;position:absolute;top:-35px;right:0;background:url('/images/close2.png') no-repeat left top;cursor:pointer;opacity:0.5;}
div.close_window:hover{opacity:1;}

table.list_images_highslide_table{}
table.list_images_highslide_table tr{}
table.list_images_highslide_table tr td{border-bottom:1px dotted #aaaaaa;text-align:left;vertical-align:middle;padding:5px 10px;}
table.list_images_highslide_table tr td.name{font-weight:bold;color:black;}

body.x1{}
body.x1 div#panel_autorize{width:600px;margin:0 auto;text-align:center;}
body.x1 div#panel_autorize h2{text-align:center;}
body.x1 h1{font-size:34px;}

select.big{width:300px;}


div#chat_debug_info{width:90%;margin:60px auto 10px auto;}
div#chat_debug_info textarea{width:90%;height:350px;font-size:12px;}

div#penel_mo_end{position:absolute;top:15px;right:15px;}
div#panel_action{margin-bottom:20px;}


div#panel_steps{margin-top:20px;}
div#panel_steps div.item{width:223px;height:223px;float:left;margin:10px;border:1px solid #E5E5E4;text-align:center;background-color:#e3e3e3;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
div#panel_steps div.item.success{background-color: #A2D8A5;border:1px solid white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(96, 180, 77, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(96, 180, 77, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(96, 180, 77, 0.75);
}
div#panel_steps div.item.error{background-color: #FDAAA4;border:1px solid white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 17, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(255, 17, 0, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(255, 17, 0, 0.75);
}
div#panel_steps div.item div.def{font-size:33px;color:white;margin-top:70px;text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);background:url('/images/q.png') no-repeat center bottom;padding-bottom:70px;}
div#panel_steps div.item div.title{font-size:33px;color:white;text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);margin:15px 0 10px 0;}
div#panel_steps div.item div.weiting{font-size:33px;color:white;text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);margin:15px 0 10px 0;background:url('/images/loading8.gif') no-repeat center bottom;padding-bottom:20px;}
div#panel_steps div.item div.name{font-size:14px;}
div#panel_steps div.item div.name strong{font-size:18px;font-weight:bold;text-transform:uppercase;display:block;margin-top:5px;}
div#panel_steps div.item div.dol{font-style:italic;margin-top:5px;}
div#panel_steps div.item table{width:100%;height:100%;}
div#panel_steps div.item table td{vertical-align:middle;text-align:center;}

button.button_big{width:800px;height:70px;font-size:47px;font-weight:normal;text-transform:uppercase;}
button.button_middle{width:200px;height:40px;font-size:27px;font-weight:normal;text-transform:uppercase;}
div.manual{font-size:25px;text-align:center;}
div.quest{font-size:25px;text-align:center;margin:10px 0;}

div#panel_steps div.item div#panel_mo_int_step2 table{width:auto;border-collapse:collapse;table-layout:fixed;margin:0 auto;}
div#panel_steps div.item div#panel_mo_int_step2 table td:first-child{width:150px;text-align:left;}
div#panel_steps div.item div#panel_mo_int_step2 table td:last-child{text-align:center;}
div#panel_steps div.item div#panel_mo_int_step2 table td{padding:3px 10px;}

div.item.error div#panel_mo_int_step2 table tr td{background: #478b3d;color: #FFF;}
div.item.error div#panel_mo_int_step2 table tr.sel td{background: #F00;}



div#panel_form_autorize{margin-top:15px;}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* МОНИТОР МЕДОСМОТРОВ
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body.mo_monitor div#block_top{height:auto;}
body.mo_monitor div#block_top> table{table-layout:auto;border-collapse:collapse;width:100%;height:25px;margin:2px 0 4px 0;}
body.mo_monitor div#block_top> table td.terminals{width:auto;}
body.mo_monitor div#block_top> table td.button{width:250px;padding-top:5px;}
body.mo_monitor div#block_top> table td.group{width:250px;}
body.mo_monitor div#block_top> table td{vertical-align:middle;}
body.mo_monitor div#panel_terminal_status{}
body.mo_monitor div#panel_terminal_status div.item{width:25px;height:25px;background:#aaaaaa;margin:3px 3px 0 3px;text-align:center;font-size:11px;padding-top:3px;float:left;}
body.mo_monitor div#panel_terminal_status div.item[status="0"]{background:antiquewhite;color:black;}
body.mo_monitor div#panel_terminal_status div.item[status="1"]{background:gray;color:white;}
body.mo_monitor div#panel_terminal_status div.item[status="2"]{background:green;color:white;}
body.mo_monitor div#panel_terminal_status div.item[status="3"]{background:darkorange;color:white;}
body.mo_monitor div#panel_terminal_status div.item[status="9"]{background:indianred;color:white;}
body.mo_monitor span#panel_cur_group{float:right;text-align:right;line-height:1em;margin-right:15px;}

body.mo_monitor div#block_main{width:96%;}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ПАНЕЛЬ ЗАГРУЗКИ ФАЙЛА - СПИСКА РАБОТНИКОВ
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div#panel_upload_promt{}
div#panel_upload_promt div.comment{font-style:italic;font-weight:bold;}
div#panel_upload_promt div.buttons{text-align:center;margin:15px;padding:15px;border:1px solid #d6d6d6;}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ТАБЕЛЬ РАБОТЫ ПО ДНЯМ
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

table.list_tabel{width:100%;table-layout:auto;border-collapse:collapse;border:1px solid #cccccc;margin-top:10px;}
table.list_tabel td{border:1px solid #cccccc;text-align:center;padding:5px;}
table.list_tabel td.id{width:50px;padding:5px 0;}
table.list_tabel td.name{text-align:left;width:200px;}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Журнал событий
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

table.list_logs{width:100%;table-layout:auto;border-collapse:collapse;border:1px solid #cccccc;margin-top:10px;}
table.list_logs td{border:1px solid #cccccc;text-align:left;padding:5px;}

table.list_logs_request{width:100%;table-layout:auto;border-collapse:collapse;border:1px solid #cccccc;margin-top:10px;background:white;}
table.list_logs_request col#c1{width:50px;}
table.list_logs_request col#c2{width:100px;}
table.list_logs_request col#c3{width:100px;}
table.list_logs_request col#c4{width:100px;}
table.list_logs_request col#c5{width:100px;}
table.list_logs_request col#c6{width:auto;}
table.list_logs_request col#c7{width:auto;}
table.list_logs_request td{border:1px solid #cccccc;text-align:left;padding:5px;vertical-align:top;}



/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* СПИСОК СОТРУДНИКОВ
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

table.list_personal_table_img{width:100%;table-layout:auto;border-collapse:collapse;border:1px solid #cccccc;margin-top:10px;}
table.list_personal_table_img colgroup col#c1{width:50px;}
table.list_personal_table_img colgroup col#c2{width:150px;}
table.list_personal_table_img colgroup col#c3{width:auto;}
table.list_personal_table_img colgroup col#c4{width:200px;}
table.list_personal_table_img td{border:1px solid #cccccc;text-align:center;padding:5px;}
table.list_personal_table_img td.id{width:50px;padding:5px 0;}
table.list_personal_table_img td.img{width:110px;padding:5px 0;}
table.list_personal_table_img td.img div{position:relative;}
table.list_personal_table_img td.name{text-align:left;width:200px;}
table.list_personal_table_img td button.copy{width:173px;margin-top:5px;}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* СПИСОК ТЕКУЩИХ СЕССИЙ МО
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div.list_mo_sessions table{width:100%;table-layout:auto;border-collapse:collapse;border:1px solid #cccccc;margin-top:10px;}
div.list_mo_sessions table col#c0{width:30px;}
div.list_mo_sessions table col#c1{width:120px;}
div.list_mo_sessions table col#c2{width:50px;}
div.list_mo_sessions table col#c3{width:200px;}
div.list_mo_sessions table col#c4{width:70px;}
div.list_mo_sessions table col#c_photo{width:330px;}
div.list_mo_sessions table col#c_result{width:300px;}
div.list_mo_sessions table col#c11{width:auto;}
div.list_mo_sessions table col#c12{width:auto;}
div.list_mo_sessions table col#c13{width:auto;}
div.list_mo_sessions table th{border:1px solid #dddddd;text-align:center;padding:5px;background:#dddddd;font-weight:bold;}
div.list_mo_sessions table td{border:1px solid #cccccc;text-align:center;padding:5px;}
div.list_mo_sessions table td.name{text-align:left;}
div.list_mo_sessions table td.photo{min-width:330px;}
div.list_mo_sessions table td.photo > div{position: relative;width:330px;height:100px;}
div.list_mo_sessions table td.photo div.img{width:100px;min-height:100px;margin-left:5px;float:left;position: relative;}
div.list_mo_sessions table td.photo div.img.canvas img{position:absolute;top:0;left:0;z-index:1;}
div.list_mo_sessions table td.photo div.img.canvas img.hidden{display:none;}
div.list_mo_sessions table td.photo div.img.canvas img.ontop{z-index:1000;top:10px;  }
div.list_mo_sessions table td.state_1{color:black;}
div.list_mo_sessions table td.state_2{color:green;font-weight:bold;}
div.list_mo_sessions table td.state_3{color:darkred;font-weight:bold;}
div.list_mo_sessions table td.dopusk_1{color:white;background:rgba(0, 128, 0, 0.53);;}
div.list_mo_sessions table td.dopusk_2{color:white;background:rgba(255, 0, 0, 0.51);;}
div.list_mo_sessions table td.comment{text-align:center;}
div.list_mo_sessions table td.comment ul{padding-left:0;margin-top:0;margin-bottom:0;color:red;}
div.list_mo_sessions table div.ok{color:green;text-align:center;}
div.list_mo_sessions table div.demo_access{width:36px;height:36px;background:url('/images/demo.png');margin:10px auto 0 auto;}
div.list_mo_sessions table td.photo{text-align:left;}
div.list_mo_sessions table td.photo img{margin-left:5px;}
div.list_mo_sessions table td.result table td{text-align:left;}

div#panel_image_preview{position:fixed;right:10px;top:45px;display:none;line-height:1em;z-index:300;}
div#panel_image_preview img{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);}
div#panel_image_preview.active{display:block;}

#imgPreviewWithStyles{ margin:5px;-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
line-height:1em;
}

div#panel_button_start_hand_mo{position: absolute;top:7px;right:10px;}



/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ОТЧЕТ ПО СЕССИЯМ МО
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div.list_mo_sessions_report table{width:100%;table-layout:auto;border-collapse:collapse;border:1px solid #cccccc;margin-top:10px;}
div.list_mo_sessions_report table table{margin:0;}
div.list_mo_sessions_report table col#c0{width:30px;}
div.list_mo_sessions_report table col#c1{width:120px;}
div.list_mo_sessions_report table col#c2{width:50px;}
div.list_mo_sessions_report table col#c22{width:50px;}
div.list_mo_sessions_report table col#c3{width:auto;}
div.list_mo_sessions_report table col#c4{width:70px;}
div.list_mo_sessions_report table col#c11{width:80px;}
div.list_mo_sessions_report table col#c12{width:auto;}
div.list_mo_sessions_report table col#c13{width:110px;}
div.list_mo_sessions_report table th{border:1px solid #dddddd;text-align:center;padding:5px;background:#dddddd;font-weight:bold;}
div.list_mo_sessions_report table td{border:1px solid #aaaaaa;text-align:center;padding:5px;}
div.list_mo_sessions_report table td.name{text-align:left;}
div.list_mo_sessions_report table td.state_1{color:black;}
div.list_mo_sessions_report table td.state_2{color:green;font-weight:bold;}
div.list_mo_sessions_report table td.state_3{color:darkred;font-weight:bold;}
div.list_mo_sessions_report table td.comment{text-align:left;}
div.list_mo_sessions_report table td.comment ul{padding-left:0;margin-top:0;margin-bottom:0;color:red;}
div.list_mo_sessions_report table div.ok{color:green;text-align:center;}
div.list_mo_sessions_report table td.result table td{text-align:left;}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* СПИСОК СЕССИЙ МО для сотрудника
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div.list_mo_sessions_small table{width:100%;table-layout:auto;border-collapse:collapse;border:1px solid #cccccc;margin-top:10px;}
div.list_mo_sessions_small table col#c1{width:120px;}
div.list_mo_sessions_small table col#c2{width:50px;}
div.list_mo_sessions_small table col#c7{width:70px;}
div.list_mo_sessions_small table col#c8{width:70px;}
div.list_mo_sessions_small table col#c9{width:70px;}
div.list_mo_sessions_small table col#c10{width:70px;}
div.list_mo_sessions_small table col#c11{width:auto;}
div.list_mo_sessions_small table th{border:1px solid #dddddd;text-align:center;padding:5px;background:#dddddd;font-weight:bold;}
div.list_mo_sessions_small table td{border:1px solid #cccccc;text-align:center;padding:5px;}
div.list_mo_sessions_small table tr:hover td{background: #f6f2ee;}
div.list_mo_sessions_small table td a{text-decoration:none;}
div.list_mo_sessions_small table td a:hover{text-decoration:underline;}
div.list_mo_sessions_small table td.comment{text-align:left;}
div.list_mo_sessions_small table td div.status_1{color:black;}
div.list_mo_sessions_small table td div.status_2{color:green;font-weight:bold;}
div.list_mo_sessions_small table td div.status_3{color:darkred;font-weight:bold;}

div.list_mo_sessions_small table td.comment ul{padding-left:0;margin-top:0;margin-bottom:0;color:red;}
div.list_mo_sessions_small table td.state_1{color:black;}
div.list_mo_sessions_small table td.state_2{color:green;font-weight:bold;}
div.list_mo_sessions_small table td.state_3{color:darkred;font-weight:bold;}
div.list_mo_sessions_small table td.dopusk_1{color:white;background:rgba(0, 128, 0, 0.53);;}
div.list_mo_sessions_small table tr:hover td.dopusk_1{background:rgba(0, 128, 0, 0.53);;}
div.list_mo_sessions_small table td.dopusk_2{color:white;background:rgba(255, 0, 0, 0.51);;}
div.list_mo_sessions_small table tr:hover td.dopusk_2{background:rgba(255, 0, 0, 0.51);;}
div.list_mo_sessions_small table div.ok{color:green;text-align:center;}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* МЕДКАРТОЧКА РАБОТНИКА
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div#panel_card_personal_view
div#panel_card_personal_view table.cols3{width:100%;table-layout:auto;border-collapse:collapse;border:1px solid #cccccc;margin-top:10px;}
div#panel_card_personal_view table.cols3 td{width:auto;text-align:center;vertical-align:top;}
div#panel_card_personal_view table.cols3 td.img{vertical-align:top;width:250px;}
div#panel_card_personal_view table.cols3 td.info{text-align:left;}
div#panel_card_personal_view table.cols3 td.krit{text-align:left;}

div#panel_card_personal_view table.cols3 td.info table{}
div#panel_card_personal_view table.cols3 td.info table td:nth-child(1){width:150px;}
div#panel_card_personal_view table.cols3 td.info table td:nth-child(2){width:400px;}

div#panel_card_personal_view table.cols3 td.krit table{}
div#panel_card_personal_view table.cols3 td.krit table td:nth-child(1){width:150px;}
div#panel_card_personal_view table.cols3 td.krit table td:nth-child(2){width:125px;text-align:center;}
div#panel_card_personal_view table.cols3 td.krit table td:nth-child(3){width:125px;text-align:center;}


div#panel_card_personal_view table.info{margin:15px;width:auto;table-layout:auto;border-collapse:collapse;}
div#panel_card_personal_view table.info th{background-color:#eeeeee;text-align:center;text-transform:uppercase;padding:6px 5px;}
div#panel_card_personal_view table.info td{border-top:1px solid #eeeeee;padding:6px 5px;text-align:left;}
div#panel_card_personal_view table.info td:first-child{text-align:left;font-weight:bold;}
div#panel_card_personal_view table.info tr:first-child td{border-top:none;}

div#panel_card_personal_view table.info td.left{text-align:left;}
div#panel_card_personal_view table.info td.buttons{text-align:center;padding:20px 0;}
div#panel_card_personal_view div.comment{font-style:italic;font-size:11px;}
div#panel_card_personal_view div.personal_fired{border:3px solid darkred;color:darkred;font-size:30px;text-transform:uppercase;text-align:center;padding:20px 30px;margin:5px auto;}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ПАНЕЛЬ ЗАДАНИЯ ЛИМИТОВ ДЛЯ СОТРУДНИКА
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div#panel_personal_limit table{margin:15px 0;width:100%;table-layout:auto;border-collapse:collapse;}
div#panel_personal_limit table th{background-color:#eeeeee;text-align:center;text-transform:uppercase;padding:6px 5px;}
div#panel_personal_limit table td{border-top:1px solid #eeeeee;padding:6px 5px;text-align:left;}
div#panel_personal_limit table td input[type="text"]{width:30px;}
div#panel_personal_limit table td:first-child{text-align:left;font-weight:bold;}
div#panel_personal_limit table tr:first-child td{border-top:none;}

div#panel_personal_limit table td:nth-child(1){width:auto;}
div#panel_personal_limit table td:nth-child(2){width:100px;text-align:center;}
div#panel_personal_limit table td:nth-child(3){width:150px;text-align:center;}
div#panel_personal_limit div.comment{font-style:italic;font-size:11px;}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ПАНЕЛЬ РУЧНОЙ ПРОВЕРКИ СОТРУДНИКА
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div#panel_hand_check table{margin:15px 0;width:100%;table-layout:auto;border-collapse:collapse;}
div#panel_hand_check table th{background-color:#eeeeee;text-align:center;text-transform:uppercase;padding:6px 5px;}
div#panel_hand_check table td{border-top:1px solid #eeeeee;padding:6px 5px;text-align:left;}
div#panel_hand_check table td input[type="text"]{width:50px;}
div#panel_hand_check table td textarea{width:210px;height:50px;}
div#panel_hand_check table td div.radio_group{text-align:left;padding-left:19px;margin:5px 0 10px 0;}
div#panel_hand_check table td div.radio_group input[type=radio]{position:relative;top:-2px;}
div#panel_hand_check table td:first-child{text-align:left;font-weight:bold;}
div#panel_hand_check table tr:first-child td{border-top:none;}

div#panel_hand_check table td:nth-child(1){width:auto;}
div#panel_hand_check table td:nth-child(2){width:100px;text-align:center;}
div#panel_hand_check table td:nth-child(3){width:150px;text-align:center;}
div#panel_hand_check div.comment{font-style:italic;font-size:11px;}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* МЕДКАРТОЧКА ПРОВЕРКИ
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div#panel_mo{border:1px solid #cccccc;}
table.col3x{width:100%;table-layout:auto;border-collapse:collapse;margin-top:10px;}
table.col3x td.img{width:220px;text-align:center;vertical-align:top;}
table.col3x td.info{width:auto;text-align:left;vertical-align:top;padding-right:50px;}
table.col3x td.krit{width:auto;text-align:left;vertical-align:top;padding-right:50px;}
table.col3x td img.main{margin:5px;-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);}

table.col2x{width:100%;table-layout:fixed;border-collapse:collapse;margin-top:10px;min-width:1500px;}
table.col2x td.img{width:220px;text-align:center;vertical-align:top;}
table.col2x td.info{width:auto;text-align:left;vertical-align:top;padding-right:50px;}
table.col2x td.krit{width:auto;text-align:left;vertical-align:top;padding-right:50px;}
table.col2x td img.main{margin:5px;-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);}

table#panel_img_mo_view{width:100%;table-layout:fixed;border-collapse:collapse;}
table#panel_img_mo_view th{text-align:center;text-transform:uppercase;padding:10px 0;}
table#panel_img_mo_view td{text-align:center;}



div#panel_mo div#panel_personal_info{width:100%;}
div#panel_mo div#panel_personal_info table{width:100%;}
div#panel_mo div#panel_personal_info table td:first-child{width:250px;}
div#panel_mo div#panel_personal_info table td:last-child{width:auto;}

div#panel_mo table.info{margin:15px;width:97%;table-layout:auto;border-collapse:collapse;}
div#panel_mo table.info th{background-color:#eeeeee;text-align:center;text-transform:uppercase;padding:6px 5px;}
div#panel_mo table.info td{border-top:1px solid #eeeeee;padding:6px 5px;text-align:left;}
div#panel_mo table.info td:first-child{text-align:left;font-weight:bold;}
div#panel_mo table.info td:first-child span.comment{font-weight:normal;}
div#panel_mo table.info tr:first-child td{border-top:none;}
div#panel_mo table.info td.center{text-align:center;}
div#panel_mo table.info th.left{text-align:left;}

div#panel_mo table.info td.buttons{text-align:center;padding-top:20px;}
div#panel_mo table.info td.buttons button{margin:0 10px;}
div#panel_mo table.info div.mo_status_1{color:gray;font-weight:bold;}
div#panel_mo table.info div.mo_status_2{color:green;font-weight:bold;}
div#panel_mo table.info div.mo_status_3{color:red;font-weight:bold;}
div#panel_mo table.info div.mo_status_4{color:red;font-weight:bold;}
div#panel_mo table.info div.dopusk_state_0{font-size:30px;color:darkred;text-transform:uppercase;margin:0 0 10px 0;}
div#panel_mo table.info div.dopusk_state_1{font-size:30px;color:green;text-transform:uppercase;margin:0 0 10px 0;}
div#panel_mo table.info div.dopusk_state_2{font-size:20px;color:darkred;text-transform:uppercase;margin:0 0 10px 0;}
div#panel_mo table.info td.left{text-align:left;}
div#panel_mo table.info td.question_comment{text-align:left;font-weight:normal;font-style:italic;padding-left:20px;}
div#panel_mo table.info td.result_status{text-align:left;}
div#panel_mo table.info td.result_status ul{margin-top:0;margin-left:0;color:red;padding-left:9px;}
div#panel_mo table.info td.result_status div.ok{text-align:center;color:green;font-weight:bold;}

div#panel_mo table.info td.space{border:none;height:32px;}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* СПИСОК ТЕКУЩИХ СЕССИЙ МО
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div#panel_proverka_result{margin-top:20px;}
div#panel_proverka_result table{table-layout:fixed;border-collapse:collapse;margin:10px 0 15px 0;}
div#panel_proverka_result table td{border-bottom:1px solid #eeeeee;text-align:left;padding:5px;}
div#panel_proverka_result table input[type=text]{width:50px;}
div#panel_proverka_result table input[type=radio]{position:relative;top:-5px;}
div#panel_proverka_result table label{font-size:20px;}





button#reload_page{position:absolute;top:5px;right:11px;}

div.only_print{display:none;}

/*стили дла*/
@media print {
body {font-family: arial, helvetica,  Times, 'Times New Roman', serif; /* Шрифт с засечками */;background:white;margin:0;}
body.body_work{margin:0;}
body.body_work div.buttons{display:none;}
body #panel_main_menu{display: none;}
body.printSelected div#block_top{display: none;}
body.printSelected div#block_tabs{display: none;}
body.printSelected div#panel_terminal_status{display: none;}
body.printSelected div#block_main{position:absolute;width:100%;height:1px;top:1px;left:1px;border:none;}
body.printSelected div#block_main > *{display:none;}
body.printSelected div#block_main > div.printSelection{display:block;position:absolute;top:0;left:0;width:100%;}
body.printSelected div#block_main div.only_print{display:block;}
body.printSelected div#block_main div.title{font-size:22px;text-align:center;margin:10px 0;}
body.printSelected div#block_main a{text-decoration:none;color:black;}
}

table.list_accounts_table{table-layout:auto;border-collapse:collapse;margin:0 auto;}
table.list_accounts_table td{border:1px solid #aaaaaa;padding:5px;text-align:left;}

table.setting{table-layout:fixed;border-collapse:collapse;width:100%;}
table.setting  td{padding:5px 10px;text-align:left;vertical-align:top;border-bottom:1px solid #eeeeee;}
table.setting  tr:last-child td{border-bottom:none;}
table.setting  td:nth-child(1){width:300px;}
table.setting  td:nth-child(2){width:auto;}
table.setting  input.small{width:50px;}


div#panel_smena_times{}
div#panel_smena_times div.item{padding-bottom:10px;}



div#panel_personal_edit table.info{margin:15px;width:97%;table-layout:fixed;border-collapse:collapse;}
div#panel_personal_edit table.info th{background-color:#eeeeee;text-align:center;text-transform:uppercase;padding:6px 5px;}
div#panel_personal_edit table.info td{border-top:1px solid #eeeeee;padding:6px 5px;text-align:left;}
div#panel_personal_edit table.info td:first-child{text-align:left;font-weight:bold;}
div#panel_personal_edit table.info tr:first-child td{border-top:none;}

div#panel_personal_edit table.info td:nth-child(1){width:120px;}
div#panel_personal_edit table.info td:nth-child(2){width:280px;}
div#panel_personal_edit table.info td input.big{width:280px;}
div#panel_personal_edit table.info td input.small{width:80px;}
div#panel_personal_edit table.info td textarea{width:280px;height:100px;}
div#panel_personal_edit table.info td input[type="radio"]{position:relative;top:-1px;}



div#panel_access_denited{text-align:center;}
div#panel_access_denited h1{border-bottom:none;font-size:22px;text-align:center;}

table.list_org{table-layout:fixed;border-collapse:collapse;margin-bottom:20px;}
table.list_org td{padding:10px 20px;text-align:right;vertical-align:top;border-top:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;}
table.list_org td ul{margin-top:0;margin-bottom:0;margin-left:0;padding-left:0;}
table.list_org th {text-align:center;}
table.list_org td:first-child{font-size:16px;}

table.list_items{table-layout:fixed;border-collapse:collapse;margin-bottom:20px;}
table.list_items td{padding:5px 10px;text-align:center;vertical-align:middle;border-top:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;}
table.list_items td.left{text-align:left;}
table.list_items td ul{margin-top:0;margin-bottom:0;margin-left:0;padding-left:0;}
table.list_items th {text-align:center;padding:5px 10px;text-transform:uppercase;background:#eeeeee;border-top:1px solid #aaaaaa;font-weight:normal;border-left:1px solid #dddddd;border-right:1px solid #dddddd;}
table.list_items td:first-child{font-size:14px;}
table.list_items td.space{border:none;background:none;}
table.list_items th.space{border:none;background:none;}


div#panel_org_edit{}
div#panel_org_edit table{}
div#panel_org_edit table td{vertical-align:top;text-align:left;padding:5px 10px;}
div#panel_org_edit table td:first-child{font-weight:bold;}
div#panel_org_edit table td div.item_otd{margin:5px 0;}
div#panel_org_edit table input[type="text"]{width:300px;}
div#panel_org_edit table textarea{width:300px;height:100px;}

div#panel_list_edit{}
div#panel_list_edit table{}
div#panel_list_edit table td{vertical-align:top;text-align:left;padding:5px 10px;}
div#panel_list_edit table td:first-child{font-weight:bold;}
div#panel_list_edit table td div.item{margin:5px 0;}
div#panel_list_edit table input[type="text"]{width:300px;}
div#panel_list_edit table input[type="text"].big{width:345px;}
div#panel_list_edit table input[type="text"].small{width:30px;text-align:center;}
div#panel_list_edit table input[readonly]{border:1px solid white;}

table.setting_list{}
table.setting_list td{vertical-align:top;text-align:left;padding:5px 10px;}
table.setting_list td:first-child{font-weight:bold;}
table.setting_list td div.item{margin:5px 0;}
table.setting_list input[type="text"]{width:300px;}
table.setting_list input[type="text"].big{width:345px;}
table.setting_list input[type="text"].small{width:30px;text-align:center;}


div#panel_members_list{}
div#panel_members_list input.name{width:300px;}
div#panel_members_list input.login{width:60px;}
div#panel_members_list input.password{width:60px;}
div#panel_members_list select{width:200px;}




div#panel_report_prepare{}
div#panel_report_prepare select{width:300px;}

div.list_reports{}
div.list_reports table{table-layout:fixed;border-collapse:collapse;margin-top:20px;}
div.list_reports table td{padding:5px;border:1px solid #bbbbbb;}
div.list_reports table tr:hover{background:#dddddd;cursor:pointer;}

div.list_docs{}
div.list_docs table{table-layout:fixed;border-collapse:collapse;margin-top:20px;}
div.list_docs table td{padding:5px;border:1px solid #bbbbbb;}
div.list_docs table tr:hover{background:#dddddd;cursor:pointer;}

div#panel_report{}
div#panel_report div.panel_report_info{border-bottom:2px solid black;padding-bottom:10px;text-align:center;margin-bottom:15px;}
div#panel_report div.panel_report_info div.panel_left{float:left;text-align:left;}
div#panel_report div.panel_report_info div.panel_right{float:right;text-align:right;}
div#panel_report div.panel_report_info div.title{text-align:center;font-size:20px; font-family: 'PTSansNarrowRegular';margin:10px 0;}


tr.item.v1[href]{cursor:pointer;}


div#report_setting{margin:20px 0;}
div#report_setting input{margin-right:20px;}
div#report_setting select{margin-right:20px;}
div#report_setting input.datepicker{width:80px;}
div#report_setting table.setting{width:auto;}
div#report_setting table.setting td{border-top:1px solid #aaaaaa;padding:10px 0;}
div#report_setting table.setting tr:first-child td{border-top:none;}
div#report_setting table.setting tr td:nth-child(2n+1){width:150px;padding-left:20px;}
div#report_setting table.setting tr td:nth-child(2n){padding-right:50px;}
div#report_setting table.setting input[type="text"]{background-color:#fafafa;}
div#report_setting table.setting select{width:300px;}
div#report_setting table.setting div{position :relative;}
div#report_setting table.setting div#otdel_select{margin-top:10px;}
div#report_setting table.setting .ui-datepicker{z-index:100;}

table.vers_info{}
table.vers_info td{padding:10px;}
table.vers_info td:nth-child(2n){}
table.vers_info td.vers{font-size:25px;font-weight:normal;}

div#panel_vers_class_select{margin:20px 0;padding:20px 0;border-top:1px dotted #aaaaaa;}
div#panel_vers_engive_select{margin:20px 0;padding:20px 0;border-top:1px dotted #aaaaaa;}

div.short_view{height:100px;width:200px;overflow:auto;}
div.short_view.open{height:auto;;}

div#panel_personal_norma table tr.bold td{font-weight:bold;}

table.basic{width:auto;table-layout:fixed;border-collapse:collapse;font-size:16px;background:white;}
table.basic th{text-align:center;background:#eeeeee;padding:10px;border: 1px solid #dddddd}
table.basic td{padding:10px;text-align:center;border:1px solid #eeeeee;}
table.basic td.left{text-align:left;}

table.basic.b2 td{padding:10px;text-align:left;border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;border-left:none;border-right:none;background:white;}
table.basic.b2 td:first-child{font-weight:bold;}
table.basic.b2 tr:last-child td{border-bottom:none;}
table.basic.b2.fz_small td{padding:5px;}
table.basic.fz_small2 th{padding:4px;}
table.basic.fz_small2 td{padding:4px;background-color:white;}

table.basic.full{width:100%;;}
table.basic.auto{table-layout:auto;}
table.basic.fz_small{font-size:12px;}
table.basic.fz_small2{font-size:12px;}
table.basic.fz_normal{font-size:14px;}
table.basic.fz_big{font-size:16px;}
table.basic.left td{text-align:left;}
table.basic ul{padding-left:0;}
table.basic ul li{padding-left:0;}

table.basic td.left{text-align:left;}
table.basic td.right{text-align:right;}
table.basic td.nowrap{white-space:nowrap;}
table.basic a.as_text{text-decoration:none;color:black;}
table.basic a.as_text:hover{text-decoration:underline;color:inherit;}
table.basic div.comment{margin-top :5px;color : #2a679e;font-weight :200;}
table.basic div.comment.red{color:red;}



div#panel_navigat{padding:0;}
div#panel_navigat div.list_pages{float:right;color:#aaaaaa;}
div#panel_navigat div.list_pages span{float:left;padding:0 5px;border-left:1px solid #bebebe;color:black;font-weight:bold;}
div#panel_navigat div.list_pages a{color:#aaaaaa;text-decoration:none;border-left:1px solid #bebebe;padding:0 5px;float:left;}
div#panel_navigat div.list_pages a.view_all{color:#666666;}
div#panel_navigat div.list_pages a:hover{text-decoration:underline;color:black;}

div#panel_navigat div.panel_select_sort{float:left;color:#aaaaaa;}
div#panel_navigat div.panel_select_sort div{float:left;padding:0 5px;color:#666666;}
div#panel_navigat div.panel_select_sort div.item{cursor:pointer;border-left:1px solid #bebebe;color:#aaaaaa;}
div#panel_navigat div.panel_select_sort div.item:hover{text-decoration:underline;color:black;}






table.table_tr_line{margin:15px;width:auto;table-layout:auto;border-collapse:collapse;width:100%;}
table.table_tr_line th{background-color:#eeeeee;text-align:center;text-transform:uppercase;padding:6px 5px;}
table.table_tr_line td{border-top:1px solid #eeeeee;padding:6px 5px;text-align:left;}
table.table_tr_line td:first-child{text-align:left;font-weight:bold;}
table.table_tr_line tr:first-child td{border-top:none;}
table.table_tr_line td.space{height:32px;border-bottom:none;}

div#panel_driver_info{margin-bottom:50px;}
div#panel_TO_info{margin-bottom:50px;}
div#panel_MO_info{margin-bottom:50px;}
div#panel_MO_info div.alert_MO{font-size:23px;color:red;text-align:center;margin:10px 0;}

div#panel_TO_info td{vertical-align:top;}

div#panel_driver_info{}
div#panel_driver_info div.list_images_highslide{margin:0 0 0 50px;}


table#panel_img_view{width:100%;table-layout:fixed;border-collapse:collapse;margin-bottom:20px;}
table#panel_img_view th{text-align:center;text-transform:uppercase;padding:10px 0;}
table#panel_img_view td{text-align:center;}


input.koof_m{width:30px;}
input.koof_p{width:30px;}


table.info{table-layout:auto;border-collapse:collapse;}
table.info th{background-color:#eeeeee;text-align:center;text-transform:uppercase;padding:6px 5px;}
table.info td{border-top:1px solid #eeeeee;padding:6px 5px;text-align:left;}
table.info td:first-child{text-align:left;font-weight:bold;min-width:100px;}
table.info tr:first-child td{border-top:none;}


ul.sky-mega-menu-pos-left.sky-mega-menu-fixed{width:210px;}
ul.sky-mega-menu li.logo{text-align:center;}
ul.sky-mega-menu li a {  padding: 8px 20px;  line-height: 1.2em;  white-space: normal;}


div.back_logo{background:white;padding:30px;width:200px;margin:0 auto;}

input.pass{position:none;}



div#result_exec_cmd{background:#eeeeee;border:#aaaaaa;padding:20px;font-family:Courier, Arial, Helvetica, sans-serif;margin-bottom:20px;font-size:14px;}

div#panel_exec_result{padding:10px;margin:10px auto;font-size:15px;text-align:center;width:350px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
div#panel_exec_result.error{border:1px solid red;background: #FF8F8F;color:white;-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);}
div#panel_exec_result.success{}
div#panel_exec_result strong{font-size:24px;}
div#panel_exec_result.error strong{color:darkred;}
div#panel_exec_result.success strong{color:green;}

div#panel_alert{color:red;margin:0 0 10px 0;}

div#panel_check_result{text-align:center;}
div#panel_check_result h2{text-align:center;}
div#panel_check_result div.alert{font-size:25px;color:red;}
div#panel_check_result div.info{font-size:25px;color:green;}

div.view_hint{position:relative;cursor:pointer;}
div.view_hint span.hint{display:none;}
div.view_hint:hover span.hint{position:absolute;display:inline;top:0px;right:0;}

.ui-datepicker{z-index:10000;}

div.monitor_mode{position:absolute;top:13px;right:33px;color:#aaaaaa;}

.sky-form {
    margin: 0;
    outline: none;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    font: 13px/1.55 'open_sansregular', Helvetica, Arial, sans-serif;
    color: #666;
}


input[type="text"].input_error,
input[type="password"].input_error,
input[type="checkbox"].input_error,
textarea.input_error,
div.select.input_error {
	border-color: #ff7070;
	box-shadow: 0 0 5px #ff8585, inset 0 0 2px rgba(0, 0, 0, 0.12);
}

/* required elements */

input[type="text"].input_required:focus,
input[type="password"].input_required:focus,
textarea.input_required:focus {
	background-image: url(ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Sprites.png);
	background-position: right -44px;
	background-repeat: no-repeat;
    box-shadow:none;
}

input[type="text"].input_required,
input[type="password"].input_required,
textarea.input_required {
	background-image: url(ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Sprites.png);
	background-position: right -44px;
	background-repeat: no-repeat;
}

div.select.input_required:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	right: 21px;
	width: 3px;
	height: 3px;
	background: url(ext/mBox/StephanWagner-mForm-0.2.6/assets/images/mForm-Sprites.png) -277px -47px no-repeat;
}

input[data-required-hidden],
textarea[data-required-hidden],
div.select[data-required-hidden]:after {
	background-image: none !important;
}

div#panel_filter .sky-form {box-shadow:none;}
div#panel_filter .sky-form fieldset{padding-top:0;padding-left:0;}
div#panel_filter .sky-form section {margin-bottom: 10px;}
div#panel_filter button {padding: 0px 15px;}
div#panel_filter.one_row{position:relative;}
div#panel_filter.one_row .sky-form fieldset{padding:0 80px 0 0;}
div#panel_filter.one_row .sky-form fieldset section{margin-bottom:0;}
div#panel_filter.one_row div#panel_buttons{position:absolute;top:15px;right:15px;}
div#panel_filter.one_row div#panel_buttons input{padding:0 15px;}

div.panel_info_select.top{text-align:left;margin-top:-22px;}
div.panel_info_select.bottom{text-align:left;margin-top:22px;}


div.center button{float:none;display:inline;}
div.center input[type="submit"]{float:none;display:inline;}

.select2-container--default span.select2-selection--single{border-radius:0;border-color:#e5e5e5;padding: 4px 6px;height: 39px;}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
    font: 15px/23px 'open_sansregular', Helvetica, Arial, sans-serif;
}
.select2-dropdown{border-radius:0;top:-10px;}
.select2-container--default .select2-selection--single .select2-selection__arrow  {  right: 6px;  top: 7px}
li.select2-results__option{margin-left:5px;}

.sky-form .button.no_right_align{float:none;display:inline;}


div#panel_buttons{text-align:center;}
div#panel_buttons input{display:inline;float:none;}
div#panel_buttons button{display:inline;float:none;}

table.debug {table-layout:fixed;border-collapse:collapse;empty-cells:show;margin:10px 0;background:white;}
table.debug td{border:1px solid gray;padding:5px;}
table.debug td strong{color:black;}
table.debug.left td{text-align:left;}








