div.carusel_item{height:150px;overflow:visible;position:relative;}
div.carusel_item div.content{position:absolute;top:0;left:24px;width:735px;height:150px;overflow:hidden;}
div.carusel_item div.content div.inner{position:absolute;top:0;left:0;width:10000000px;}
div.carusel_item div.content div.inner div.item{float:left;margin-left:3px;width:735px;}
div.carusel_item div.content div.inner div.item:first-child{margin-left:0;}

div.carusel_item div.to_next,
div.carusel_item div.to_prev
            {   width:40px;height:40px;
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url(images/a17.png) no-repeat;
                overflow:hidden;
            }
div.carusel_item div.to_next{ background-position: -70px -40px;position:absolute;top:40px;right:-20px; }
div.carusel_item div.to_prev{ background-position: -10px -40px;position:absolute;top:40px;left:-20px; }
div.carusel_item div.to_prev:hover { background-position: -130px -40px; }
div.carusel_item div.to_next:hover { background-position: -190px -40px; }
