/**
 * FancyUpload Showcase
 *
 * @license		MIT License
 * @author		Harald Kirschner <mail [at] digitarald [dot] de>
 * @copyright	Authors
 */

/* CSS vs. Adblock tabs */
div#panel_fancyupload .swiff-uploader-box a {display: none !important;}

/* .hover simulates the flash interactions */
div#panel_fancyupload a:hover, a.hover {color: red;}
div#panel_fancyupload #upload-status {padding: 10px 15px;width: 420px;}
div#panel_fancyupload #upload-status div{margin:10px 0;}
div#panel_fancyupload #upload-status div#menu_panel{margin:10px 0;}
div#panel_fancyupload #upload-status div#menu_panel a{position:relative;top:-10px;}
div#panel_fancyupload #upload-status div.small {font-size: 0.9em;}
div#panel_fancyupload #upload-status .progress{background: url(assets/progress-bar/progress.gif) no-repeat center top;/*background-position: +50% 0;*/margin-right: 0.5em;vertical-align: middle;}
div#panel_fancyupload #upload-status .progress-text{font-size: 0.9em;font-weight: bold;}
div#panel_fancyupload #upload-status .overall-title{font-size: 0.9em;font-weight:normal;}
div#panel_fancyupload #upload-status .current-title{font-size: 0.9em;font-weight:normal;margin-top:5px;}
div#panel_fancyupload #upload-list {list-style: none;width:100%;margin: 0;}
div#panel_fancyupload #upload-list li.validation-error {padding-left: 44px;display: block;clear: left;line-height: 40px;color: #8a1f11;cursor: pointer;border-bottom: 1px solid #fbc2c4;background: #fbe3e4 url(assets/failed.png) no-repeat 4px 4px;}
div#panel_fancyupload #upload-list li.file {border-bottom: 1px solid #eee;background: url(assets/file.png) no-repeat 4px 4px;overflow: auto;}
div#panel_fancyupload #upload-list li.file.file-uploading {background:#D9DDE9 url(assets/uploading.png)  no-repeat;}
div#panel_fancyupload #upload-list li.file.file-uploading {background:url(assets/loading3.gif)  no-repeat;}
div#panel_fancyupload #upload-list li.file.file-success {background:url(assets/success.png) no-repeat;}
div#panel_fancyupload #upload-list li.file.file-failed {background:url(assets/failed.png)  no-repeat;}
div#panel_fancyupload #upload-list li.file .file-name {font-size: 0.9em;margin-left: 44px;display: block;clear: left;line-height: 40px;height: 40px;font-weight:normal;}
div#panel_fancyupload #upload-list li.file .file-size {font-size: 0.9em;line-height: 18px;float: right;margin-top: 2px;margin-right: 6px;}
div#panel_fancyupload #upload-list li.file .file-info{display: block;margin-left: 44px;font-size: 0.9em;line-height: 20px;}
div#panel_fancyupload #upload-list li.file .file-remove {clear: right;float: right;line-height: 18px;margin-right: 6px;}