/* ВНИМАНИЕ! цветовая гамма сайта:
 серый цвет линий:          #C9C9C9
 серый цвет текста:         #626262
 серый цвет фона:           #F4F4F4
 красный цвет текста:       #D70300

*/

html {height: 100vh;}
body {height: 100vh;margin: 0;padding: 0;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-style:normal;color:#626262;}
p{margin: 0;padding: 0;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-style:normal;color:#626262}
a{text-decoration: underline;color:black;}
a:hover{text-decoration: underline;}
form{margin: 0;padding: 0;}
input.text{height:17px;font-size:12px;font-family: Tahoma, Arial, sans-serif;border:1px solid #E1E1E1;padding:0 3px;}
input.file{font-size:11px;font-family: Tahoma, Arial, sans-serif;border:0 solid #E1E1E1;}
input.checkbox{position:relative;top:3px;}
select{font-size:11px;font-family: Tahoma, Arial, sans-serif;padding:2px;}
textarea{font-size:12px;font-family:Tahoma, Arial, sans-serif;border:1px solid #E1E1E1;padding:3px;}
strong{color:black;}

input:focus,textarea:focus{background:#FFFFEE;border:1px solid #C1C1C1; ;}

h1{ font-size: 14px; color:#23598c;border-bottom:5px solid #DDDDDD;}
h2{ font-size: 12px; color:#23598c;}

h2.orders{display:block;float:left;margin:0 10px;}
h2 a{color:#AAAAAA;text-decoration: none;}
h2 a:hover{color:#23598c;}

p.patch a{text-decoration:none;font-size:11px;color:#626262;}
p.patch a:hover{text-decoration:underline;color:#626262;}

a.tags_size_1{font-size:10px;margin:5px;}
a.tags_size_2{font-size:12px;margin:5px;}
a.tags_size_3{font-size:14px;margin:5px;}
a.tags_size_4{font-size:16px;margin:5px;}
a.tags_size_5{font-size:18px;margin:5px;}

a.page{text-decoration:none;color:#A9A9A9;font-size:18px;}
a.page_select{text-decoration:underline;color:green;font-weight:bold;font-size:18px;}
a.a_ref{text-decoration:underline;color:black;font-weight:bold;}

button{border: #A8A8A8 1px solid ;background-color: #DCDCDC;text-align: center;font-size : 11px;cursor:pointer;margin:0 6px ;}

img{border: 0px #D8D8D8 solid ;}
img.in_text{position:relative;top:5px;}
/* набор быстрых стилей */

.clear{ clear:both;}
.block{display:block;}
.hidden{display:none;}
.visible{display:block;}

/*стили для всплывающей панели*/
div#DivMask{position: absolute;z-index: 198;	background:white;left: 0;top: 0;width: 100%;filter: alpha(opacity=80);opacity: 0.8;-moz-opacity: 0.8;color: inherit;}
div#DivPanel{border:3px solid #D3D3D3;background:white;}
div#DivPanel a.close{border:1px solid #D3D3D3;display:block;width:80px;height:18px;position:absolute;right:-3px;top:-20px;text-align:center;color:black;text-decoration:none;font-family:Tahoma, Arial, sans-serif;font-size:11px;}
div#DivPanel a.close:hover{background:#D3D3D3;}


.red{ color: #D70300; }
.green,.green a{color:#009933;}
.gray{ color: #626262; }
.light_gray{ color: #B7B7B7; }
.blau{color:#0000CC;}
.black{color:black;}
.center{ text-align: center; }
.left{ text-align: left; }
.right{ text-align: right; }
.justify{ text-align: justify; }
.bold{ font-weight: bold; }
.border{ border:1px solid black;}
.back_red{ background-color:red; }
.nowrap{white-space:nowrap;}
.size11{font-size:11px;}
.size12{font-size:12px;}
.size14{font-size:14px;}
.size15{font-size:15px;}
.size16{font-size:16px;}
.size18{font-size:18px;}
.width_100{ width:100px; }
.width_200{ width:200px; }
.width_300{ width:300px; }
.width_400{ width:400px; }
.width_500{ width:500px; }
.width_600{ width:600px; }
.back_red2{background-color:#FF6347;}
.back_green{background-color:#CCFFFF;}
.back_white{background-color:white;}
.select_top_border{border-top:1px solid red;}
.float_left{float:left;}
.float_right{float:right;}
.small{font-size:11px;}


div.alert,span.alert{margin:10px 0;font-size:12px;color:red;text-align:left;font-weight:bold;}
div.info,span.info{margin:10px 0;font-size:12px;color:green;text-align:left;font-weight:bold;}


/* разметка страницы*/

#wrapper {width:100%;margin:0;padding: 0;position:relative;background-color:white;}
#left_panel{width:183px;float:left;margin:15px 0;border:0 solid gray;}
#main_panel{margin-left:10px;border:0 solid gray;position:relative;}
#main_panel.x2{width:740px;float:right;margin:15px 0 15px 0;border:0 solid gray;}
#right_panel{width:173px;float:right;margin:15px 0;border:0 solid gray;}
#bottom_panel{width:937px;clear:both;text-align:center;margin-top:10px;border-top:5px solid #d1d1d1;padding:20px 0;}

/* стили дерева объектов */
body#tree{color:#626262;font-family: Tahoma, Arial, sans-serif;font-size:11px;}

#tree div{white-space:nowrap;margin:3px 0;width:90%;}
#tree div.space_div{height:25px;}
#tree div.root_obj{margin:0;}


#tree div#tree_menu{height:20px;width:100%;position:fixed;left:0;top:0;margin:0;padding:4px;background:url('img/viewer_menu_back.gif') repeat-x 0 0px;text-align:left;z-index:999;}

#tree a{text-decoration: none;color:#626262;margin-left:3px;position:relative;top:-1px;}
#tree a:hover{text-decoration: underline;}

#tree div.open{background:url('img/tree_open.gif') no-repeat left top;padding-left:12px;}
#tree div.close{background:url('img/tree_close.gif') no-repeat left top; padding-left:12px;}
#tree div.space{background:none;margin-left:12px;}

#tree div.child_open{padding-left:16px;display:block;}
#tree div.child_close{padding-left:16px;display:none;}

#tree div img{vertical-align:-2px;}

#tree span.cnt{color:#B7B7B7;font-weight:normal;}

/*#tree div.select{background-color: #F4F4F4;}*/
#tree div.select a{color:black;font-weight: bold;}
#tree div.root{padding-left:4px;}

/* стити верхнего меню */
#top_menu{height:53px;overflow: hidden ;border-bottom:1px solid #BBBBBB;background-color:#F4F4F4;position: relative;text-align: center;font-family: Arial, Helvetica, sans-serif;padding:3px 0;white-space:nowrap;}
#top_menu div.left_icons{float:left;font-size: 12px;}
#top_menu div.right_icons{float:right;font-size: 12px;text-align:right;}
#top_menu div.right_icons a{margin:0 6px;}
#top_menu div.title{float:left;font-size: 22px;color:#23598c;text-align: center;}
#top_menu div.middle{padding:12px;}
#top_menu div.comment{font-size:12px;color:#23598c;text-align:left;position:relative;top:-10px;}


table#admin_main_menu{background:white;width:100%;}
table#admin_main_menu td#main_menu{width:auto;text-align:left;vertical-align:top;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;border:none;}
table#admin_main_menu td#main_info_block{width:200px;text-align:center;vertical-align:top;border:none;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
table#admin_main_menu td#main_info_block a{color:#191970;text-decoration:underline;}
table#admin_main_menu td#main_info_block a:hover{text-decoration:none;}
/* стили главного меню */
#main_menu {color:#23598c;position: relative;}
#main_menu div.rasdel{color:#23598c;font-weight: bold;padding:10px;margin:10px;border:1px solid #ece9d8;position: relative;width:90%;}
#main_menu div.item{float:left;width:100px;height:80px;;margin:3px;border:0 solid black;text-align:center;font-weight:normal;font-size:11px;font-family: Tahoma, Arial, sans-serif;}
#main_menu div.item a{color:#000099;text-decoration: none;font-weight:normal;font-size:11px;font-family: Tahoma, Arial, sans-serif;}
#main_menu div.item a:hover{text-decoration: underline;}
#main_menu h1{ font-size: 18px; color:#23598c;border-bottom:0 solid #DDDDDD;font-weight:normal;margin:20px;}

#viewer_main #main_menu div.item{height:100px;}
/*дополнительное меню для редактора объетов*/
#object_menu{height:28px;background:#F4F4F4 url('img/object_menu_back.gif') repeat-x;overflow: hidden ;position: relative;text-align: center;font-family: Arial, Helvetica, sans-serif;padding:3px 0;white-space:nowrap;}
#object_menu div.left_panel{float:left;font-size: 12px;}
#object_menu div.left_panel span.title{font-size:18px;color:#23598C;padding-right:20px;padding-left:10px;}

#object_menu div.right_panel{float:right;font-size: 12px;text-align:right;margin-right:3px;}
#object_menu input#find_area{width:158px;height:17px;background:white url('img/find_icon.gif') no-repeat left top ;border:1px solid #96969D;padding:1px 1px 1px 16px;font-size:11px;font-family: Tahoma, Arial, sans-serif;position:relative;top:-2px;margin-right:3px;}

/* главное меню viewer_obj */
#viewer_menu{height:26px;width:100%;background:url('img/viewer_menu_back.gif') repeat-x bottom;margin-bottom:10px;}
#viewer_menu a{display:block;float:left;position: relative;top:0;height:16px;margin:0 1px;padding:5px 6px 0 24px;color:#565656;text-decoration: none;font-family:Tahoma;font-size:11px;}
#viewer_menu a img{position: absolute;top:3px;left:3px;border:0;}
#viewer_menu a:hover{padding:5px 5px 0 23px;border:1px solid #C1C1C1;border-top:0 solid #ECECEC;color:#565656;}
#viewer_menu a:hover img{left:2px;}
#viewer_menu a.sel{background-color:#ECECEC;padding:5px 5px 0 23px;border:1px solid #AAAAAA;border-top:0 solid #ECECEC;color:black;}
#viewer_menu a.sel img{left:2px;}
#viewer_menu a.hidden{display:none;}

/* главное меню viewer_obj */
#main_menu #viewer_menu{height:26px;width:100%;background:url('img/viewer_menu_back.gif') repeat-x bottom;margin-bottom:10px;}
#main_menu #viewer_menu a{display:block;float:left;position: relative;top:0;height:16px;margin:0 1px;padding:4px 6px 0 24px;color:#565656;text-decoration: none;font-family:Tahoma;font-size:13px;}
#main_menu #viewer_menu a img{position: absolute;top:3px;left:3px;border:0;}
#main_menu #viewer_menu a:hover{padding:5px 5px 0 23px;border:1px solid #C1C1C1;border-top:0 solid #ECECEC;color:#565656;}
#main_menu #viewer_menu a:hover img{left:2px;}
#main_menu #viewer_menu a.sel{background-color:#ECECEC;padding:4px 5px 0 23px;border:1px solid #AAAAAA;border-top:0 solid #ECECEC;color:black;}
#main_menu #viewer_menu a.sel img{left:2px;}
#main_menu #viewer_menu a.hidden{display:none;}



/*стили viewer_obj*/
p.obj_header{ background-color:#ECECEC;padding:10px;font-size:18px;color:#23598c;border:0 solid #ece9d8;width:auto;}
p.obj_header img{border:1px solid #C0C0C0;vertical-align:-40px;}
p.obj_header img.clss{vertical-align:-2px;margin:0 5px 0 5px;border:none;}
p.obj_header input{margin:0 10px;vertical-align:-1px;  }
p.obj_header a.to_exit{display:block;position:absolute;right:10px;top:10px;text-decoration:none;}
p.obj_header a.to_exit img{border:none;}
p.obj_header a.to_main{display:block;position:absolute;right:38px;top:10px;text-decoration:none;}
p.obj_header a.to_main img{border:none;}

table.obj_header{background-color:#ECECEC;font-size:18px;color:#23598c;width:100%;margin:0;}
table.obj_header td{text-align:left;padding:10px;border:none;}
table.obj_header td.img{width:50px;}
table.obj_header span.clss_name{font-size:18px;color:black;}


table.obj_header img{border:1px solid #C0C0C0;vertical-align:-40px;}
table.obj_header img.clss{vertical-align:-2px;margin:0 5px 0 5px;border:none;}
table.obj_header input{margin:0 10px;vertical-align:-1px;  }
table.obj_header a.to_exit{display:block;position:absolute;right:10px;top:10px;text-decoration:none;}
table.obj_header a.to_exit img{border:none;}
table.obj_header a.to_main{display:block;position:absolute;right:38px;top:10px;text-decoration:none;}
table.obj_header a.to_main img{border:none;}

/*стили viewer_obj*/
div.obj_header{ background-color:#ECECEC;padding:10px;font-size:18px;color:#23598c;border:0 solid #ece9d8;width:auto;}
div.obj_header img{border:1px solid #C0C0C0;vertical-align:-40px;}
div.obj_header img.clss{vertical-align:-2px;margin:0 5px 0 5px;border:none;}
div.obj_header input{margin:0 10px;vertical-align:-1px;  }
div.obj_header a.to_exit{display:block;position:absolute;right:10px;top:10px;text-decoration:none;font-size:11px;}
div.obj_header a.to_exit img{border:none;vertical-align:0;}

div#viewer_main{margin-left:10px;position: relative;}

a.a_p_menu{color:gray;margin:2px;padding:2px;font-size:12px;border:1px solid gray;text-decoration:none;}
a.a_p_menu:hover{background:#D8D8D8;}
a.a_p_menu_sel{color:black;background:#D8D8D8;margin:2px;padding:2px;font-size:12px;border:1px solid gray;font-weight:bold;text-decoration:none;}


/* стили вывода состава объекта списком */
_div#childs_objs{font-family: Tahoma, Arial, sans-serif;font-size: 11px;position:relative;}
_div#childs_objs a{color:green;text-decoration: none;font-weight:bold;vertical-align:0;padding:0 3px;}
_div#childs_objs a:hover{color:black;text-decoration:underline;}

/* быстрый показ товаров в заказах */
div.fast_goods_info{float:left;margin:5px;text-align:center;vertical-align:middle;}
div.fast_goods_info img{ border:1px solid #C0C0C0 }

table{table-layout:auto;width:auto;border-collapse:collapse;position:relative;margin: 0 0 10px 0; padding: 0;background-color: #F9F9F7;font-family:Tahoma,Arial,sans-serif;font-size:13px;}
table tr.clss_header{color:#23598c;height:30px;background-color:#FFFDE8;padding:5px;font-weight: bold;text-align:left;font-size:11px;}
table tr.clss_header td{font-size:11px;}
table tr.clss_header span.title{display:block;float:left;font-weight: bold;text-align:left;padding-left:5px;}
table tr.clss_header span.title img{margin-bottom:-4px;}
table tr.clss_header span.setting{display:block;float:right;text-align:right;padding-right:5px;}
table tr.clss_header span a:hover{color:black;text-decoration:underline;}
table tr.td_header{background-color:#F0F4F9;color:#222222;}
table tr.child_visible{display:table-row;width:100%;}
table tr.child_unvisible{display:none;}
table th{color:black;padding:5px 0;background:white;}
table td.td_child{padding:10px 0 20px 40px;text-align:left;background-color:white;}
table td.td_child a.to_hid{position:relative;left:-40px;top:0;}
table td.td_child a.new{color:#6A6A6A;text-decoration:none;}
table td.td_child a.new:hover{color:red;text-decoration: underline;}

table tr.on:hover{background-color:#F0F4F9;}
table tr.off:hover{background-color:#F0F4F9;}

table tr.select{background-color:#336699;color:white;}
table tr.select:hover{background-color:#003399;color:white;}
table tr.group_title{background-color:white;color:#222222;height:20px;font-weight:bold;}
table tr.group_title td{border-left:none;border-right: none;}
table td{width:auto;border:1px solid #E1E1E1;text-align:center;padding:2px 4px;white-space:normal;position:relative;}

table td table td{text-align:justify;}

table.list td{height:25px;color:black;font-size:13px;}
table.list select           {width:100px;}
table.list select.small     {width:40px;}
table.list select.big       {width:400px;}
table.list input.text       {width:100px;}
table.list input.small      {width:40px;}
table.list input.big        {width:400px;}
table.list textarea         {width:200px;height:100px;font-size:13px;}
table.list textarea.small   {width:200px;height:50px;}
table.list textarea.big     {width:600px;height:100px;}
table.list _div.cnt_img      {position:absolute;top:5px;right:5px;}

table.details td{height:25px;color:black;}
table.details select        {width:200px;}
table.details select.small  {width:100px;}
table.details select.big    {width:400px;}
table.details input.text    {width:100px;}
table.details input.small   {width:40px;}
table.details input.big     {width:400px;}
table.details textarea      {width:600px;height:100px;}
table.details textarea.small{width:600px;height:50px;}
table.details textarea.big  {width:600px;height:200px;}

table tr.off td{color:#626262;}



table td img{ margin:0 3px -2px 3px;}
table td a{color:black;text-decoration:none;}
table td a:hover{color:red;}
table.left td{ text-align: left; }
table.no_border td{border:none;}
td.no_border {border:none;}
ul{margin:0;padding:0;}
li{margin:5px 15px;}

table.space{table-layout:auto;width:auto;border-collapse:collapse;position:relative;margin: 0 0 10px 0; padding: 0;font-family:Tahoma,Arial,sans-serif;font-size:11px;background-color:white;}
table.space td{vertical-align:top;}


/* служба поддержки */
.support_message_header{font-family:Tahoma,Arial,sans-serif;font-size:11px;}
.support_message_text{border:1px solid #CECECE;margin:5px 25px;padding:10px;}
.my_support_message_text{border:1px solid #CECECE;margin:5px 25px;padding:10px;background:#FFFACD;}

.patch{font-size:11px;color:#626262; }
.patch span{text-decoration:none;font-size:11px;color:#626262;}
.patch a{text-decoration:none;font-size:11px;color:#626262;}
.patch a.start{background:none;padding-left:0;}
.patch a:hover{text-decoration:underline;color:#626262;}



span.header{display:block;width:auto;padding:10px;color:#23598c;background-color:#FFFDE8;font-weight: bold;text-align:left;}

div.panel_meta_tags{margin-left:10px;width:100%;}
div.panel_meta_tags div.h2{color:black;margin:10px 0 5px 0;}
div.panel_meta_tags div.title{display:inline;font-weight:bold;margin:5px 0 3px 0;font-family:Tahoma, Arial, sans-serif;font-size:11px;}
div.panel_meta_tags textarea{width:90%;}
div.panel_meta_tags input.text{width:90%;}
div.panel_meta_tags button{margin-top:5px;margin-left:5px;}


ol#group_elements {font-family:arial;margin:0}
ol#group_elements li{font-weight:normal;list-style-type:decimal;padding-bottom:6px;margin:0;}

div.intro{border:1px solid green;margin:10px;padding:10px;font-size:11px;line-height:15px;}

body.file_explorer div#wrapper{margin-left:10px;}
body.file_explorer .title{color:black;font-weight:bold;}
body.file_explorer h1{font-size:18px;border-bottom:none;}
body.file_explorer div#panel_list_mode{float:left;padding-top:1px;margin:2px 10px 2px 0;}
body.file_explorer div#panel_filter{float:left;margin:2px 10px 2px 0;}
body.file_explorer div#panel_upload{float:left;margin:0 10px 2px 0;position:relative;top:-8px;}
body.file_explorer div#panel_upload img{border:none;}
body.file_explorer div#panel_upload a{position:relative;top:-10px;left:-5px;text-decoration:none;}
body.file_explorer div#panel_upload a#to_create_page{position:relative;top:-3px;left:5px;text-decoration:none;}
body.file_explorer div#panel_upload a:hover{text-decoration:underline;}
body.file_explorer div#panel_create{float:left;margin:0 10px 2px 0;position:relative;}
body.file_explorer div#panel_create img{border:none;}
body.file_explorer div#panel_create a{position:relative;top:-3px;left:5px;text-decoration:none;}
body.file_explorer div#panel_create a:hover{text-decoration:underline;}
body.file_explorer div#panel_sel_file{float:left;margin:0 10px 2px 0;position:relative;top:0;}
body.file_explorer div#panel_sel_file.show{display:block;}
body.file_explorer div#panel_sel_file img{border:none;padding-right:5px;}
body.file_explorer div#panel_sel_file a{position:relative;top:-7px;left:0;text-decoration:none;}
body.file_explorer div#panel_sel_file a:hover{text-decoration:underline;}
body.file_explorer div#panel_file_info{margin:2px 0;}
body.file_explorer div#panel_file_cont{margin:2px 0;}
body.file_explorer div#panel_file_cont img{border:1px solid #aaaaaa;}
body.file_explorer a.to_page{text-decoration:none;color:#A9A9A9;font-size:18px;}
body.file_explorer a.to_page.select{text-decoration:underline;color:green;font-weight:bold;font-size:18px;}
body.file_explorer a.a_ref{text-decoration:underline;color:black;font-weight:bold;}
body.file_explorer a.to_file.select{color:black;font-weight:bold;}
body.file_explorer div.view_icons div.item{text-align:center;width:130px;height:118px;float:left;margin:5px;border:1px solid white;padding:5px;}
body.file_explorer div.view_icons div.item img{border:none;}
body.file_explorer div.view_icons div.item a{text-decoration:none;color:#555555;}
body.file_explorer div.view_icons div.item a:hover{text-decoration:underline;color:black;}
body.file_explorer div.view_icons div.item.select{border:1px solid #6495ed;}
body.file_explorer div.list_upd_files{margin:10px 0 20px 0;line-height:20px;}
body.file_explorer div.list_upd_files div.item{margin:3px 15px;}
body.file_explorer div.list_upd_files div.item input.text{width:400px;}
body.file_explorer div.list_upd_files div.item span.file_num{font-size:17px;color:green;padding-right:5px;}
body.file_explorer div.list_upd_files div.item a.to_del{font-size:11px;color:#5f9ea0;padding-left:15px;}
body.file_explorer div.list_upd_files a.to_add{font-size:14px;color:green;padding-left:35px;margin-top:5px;}

div.show_hide_panel:hover{text-decoration:underline;}
div.hidden_panel{display:none;}
div.hidden_panel.visible{display:block;}

#elfinder {height: 100vh;}