/*ВНИМАНИЕ! текущий банео под размеры 790х230. Заменить под свой размер*/
div#slider2_container{position: relative; width: 850px;height: 301px;margin:0 auto;}
div#slider2_container div[u="loading"]{position: absolute; top: 0px; left: 0px;}
div#slider2_container div[u="slides"]{cursor: move; position: absolute; left: 0px; top: 0px; width: 850px; height: 301px;overflow: hidden;}
div#slider2_container div.u1{filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;}
div#slider2_container div.u2{position: absolute; display: block; background: url('/class/ext/Jssor.Slider.FullPack/img/loading.gif') no-repeat center center;top: 0px; left: 0px;width: 100%;height:100%;}
div#slider2_container div[u="navigator"]{position: absolute; top: 266px; }
div#slider2_container div[u="prototype"]{position: absolute; width: 12px; height: 13px;border-radius: 6px}
div#slider2_container span[u="arrowleft"]{width: 40px; height: 40px; top: 176px; left: 8px;}
div#slider2_container span[u="arrowright"]{width: 40px; height: 40px; top: 176px; right: 14px;z-index:1000;}

/* Bullet Navigator Skin Begin
           jssor slider bullet navigator skin 01 */

 /*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
{
  filter: alpha(opacity=70);
  opacity: .7;
  overflow:hidden;
  cursor: pointer;
}
.jssorb01 div { background-color: #dbdbdb }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color:  #5bb106; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #dbdbdb; }

/*<!-- Arrow Navigator Skin Begin --> */
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
position: absolute;
cursor: pointer;
display: block;
  background: url('/class/ext/Jssor.Slider.FullPack/img/a17.png') no-repeat;
  overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }
