div#panel_org_edit{}
div#panel_org_edit input[type="text"]{width:300px;}
div#panel_org_edit input[type="text"].big{width:500px;}
div#panel_org_edit input[type="text"].small{width:100px;}
div#panel_org_edit textarea{width:300px;height:50px;}

div#panel_org_create{}
div#panel_org_create input[type="text"]{width:200px;}
div#panel_org_create input[type="text"].big{width:300px;}
div#panel_org_create input[type="text"].small{width:100px;}
div#panel_org_create textarea{width:300px;height:50px;}

button#new_org{position:absolute;top:10px;right:20px;}

div#panel_search_member {margin-right:20px;}
div#panel_search_member span.title{font-weight:bold;}
div#panel_search_member input[type='text']{width:200px;position:relative;top:1px;margin-right:5px;}

div#panel_sort_member {margin-right:20px;}
div#panel_sort_member span.title{font-weight:bold;}
div#panel_sort_member input[type='text']{width:300px;position:relative;top:1px;margin-right:5px;}
div#panel_sort_member select{width:100px;}