div.list_support_messages{margin:0 0 13px 0;}
div.list_support_messages div.item{padding:5px 0;margin-bottom:5px;}
div.list_support_messages div.item.comment{}
div.list_support_messages div.item div.title{color:black;margin-bottom:5px;}
div.list_support_messages div.item div.title strong{color: #272727;font-style:italic;}
div.list_support_messages div.item div.mess{color:#272727;line-height:1.7em;background: #f2f2f2;border:1px solid #dadada;padding:10px;}
div.list_support_messages div.item div.mess p{margin-left:0;margin-top:0;}
div.list_support_messages div.item.comment div.title{text-align:right;}
div.list_support_messages div.item.comment div.mess{}

div#panel_tiket{}
div#panel_tiket_info{margin:5px 0 15px 0;}
div#panel_tiket_info p.thema strong{text-transform:uppercase;color:black;}
div#panel_tiket_info table{margin:15px 0 20px 0;color:#0782C1;}
div#panel_tiket_info table colgroup#c1{width:100px;}
div#panel_tiket_info table colgroup#c2{width:auto}
div#panel_tiket_info table td{border-bottom:1px dotted black;padding:5px 10px;}
div#panel_tiket_info table td:last-child{color:black;font-weight:bold;;}

table.list_tikets_full_info{width:100%;table-layout:auto;border-collapse:collapse;}
table.list_tikets_full_info td{border:1px solid #aaaaaa;padding:5px;vertical-align:middle;}
table.list_tikets_full_info td:nth-child(3n){width:300px;}

div#panel_support_add_message{margin:0 0 0 0;}
div#panel_support_add_message textarea{width:768px;height:100px;margin-bottom:15px;padding:10px;}

div#panel_support_add_message_files{}
div#panel_support_add_message_files textarea{width:100%;height:200px;margin-bottom:15px;}

div#panel_support_new_tiket{padding:20px 0;}
div#panel_support_new_tiket input[name="name"]{width:300px;}
div#panel_support_new_tiket input[name="email"]{width:300px;}
div#panel_support_new_tiket input[name="phone"]{width:300px;}
div#panel_support_new_tiket input[name="_check_code"]{width:150px;}
div#panel_support_new_tiket textarea{width:564px;height:100px;margin:10px 0;}

