/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ОТЗЫВЫ
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*система отзывов*/
div.responses_form{border:0 solid white;}
div.responses_form div.head{color:#4084A7;margin:10px 0;}
div.responses_form input.text{border:1px solid white;background:#F5EEDE;width:620px;}
div.responses_form input.small{width:70px;}
div.responses_form textarea.text{border:1px solid white;background:#F5EEDE;width:620px;height:100px;}
div.responses_form img#check_code{position:relative;top:15px;}

div#panel_responses{margin:0 0;}
div#panel_responses button{margin-left:15px;}
div#panel_responses div.go_all{text-align:center;}

div.list_responses_messages{margin:0 0 0 0;}
div.list_responses_messages div.item{}
div.list_responses_messages div.item div.title{margin:10px 0 10px 0;font-size:12px;color:black;}
div.list_responses_messages div.item div.title a{_color:#64AD4A;text-decoration:underline;}
div.list_responses_messages div.item div.title a:hover{text-decoration:none;}
div.list_responses_messages div.item div.mess{margin:5px 0 0 0;padding:10px;border:1px solid #EAEAEA;}
div.list_responses_messages div.item div.comment {margin:5px 0 5px 0;color:#006600;}
div.list_responses_messages div.item div.comment div.title{margin:10px 0;font-weight:bold;color:#4084A7;;}

/*отзывы в левом блоке*/
div.list_responses_messages_small{padding:0 10px;}
div.list_responses_messages_small div.item{border-top:1px solid rgba(140, 104, 58, 0.71);padding-bottom:10px;}
div.list_responses_messages_small div.item:first-child{border-top:none;}
div.list_responses_messages_small div.responses_title{margin:10px 0 10px 0;font-size:12px;color: #803434;font-weight:bold;}
div.list_responses_messages_small div.responses_title a{color:#655a32;text-decoration:underline;}
div.list_responses_messages_small div.responses_title a:hover{text-decoration:none;}
div.list_responses_messages_small div.responses_mess{margin:0;padding:0;background:none;color: #655a32;font-style:italic;}
div.list_responses_messages_small div.responses_mess_comment {margin:5px 0 5px 0;color:#006600;}
div.list_responses_messages_small div.responses_mess_comment div.title{margin:10px 0;font-weight:bold;color:#4084A7;;}
