div#panel_chat{}
/*
div#panel_chat div#panel_chat_messages{width:400px;padding:5px;height:200px;border:1px solid gray;overflow-y: scroll;}
div#panel_chat div#panel_chat_messages div.item{font-size:12px;}
div#panel_chat div#panel_chat_messages div.item.client{font-size:12px;font-style:italic;}
div#panel_chat div#panel_chat_messages div.item.client strong{color:#006633;}
div#panel_chat div#buttons{padding:5px;text-align:center;}
div#panel_chat textarea#client_mess{width:400px;height:100px;border:1px solid gray;overflow-y: scroll;}
*/
div.panel_fixed{background:#f2f1ef;position:fixed;top:230px;right:-370px;z-index:10000;padding:35px 0 35px 42px;text-align:left;height:350px;width:378px;font-weight:normal;;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
     border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.panel_fixed div.title{width:40px;height:202px;background:url('/images2/chat_title1.jpg') no-repeat;position:absolute;top:40px;left:-40px;cursor:pointer;
    -webkit-box-shadow: -20px 0px 30px 0px rgba(50, 50, 50, 0.24);
    -moz-box-shadow:    -20px 0px 30px 0px rgba(50, 50, 50, 0.24);
    box-shadow:         -20px 0px 30px 0px rgba(50, 50, 50, 0.24);
}


div.panel_fixed{cursor:auto;height:410px;width:320px;}
/*
div.panel_fixed div#promt{font-size:14px;color:white;text-align:left;height:50px;margin-bottom:5px;}
div.panel_fixed div#promt strong{color:#FFD000;}*/
div.panel_fixed div#panel_chat_title{font-size:16px;color:white;text-align:left;margin-bottom:5px;}
div.panel_fixed div#panel_chat_title img{float:left;margin:0 10px 0 0;position: relative;  top: -10px;}
div.panel_fixed div#panel_chat_title div.name{font-size:16px;color:black;line-height:1em;margin-bottom:4px;font-weight:bold;}
div.panel_fixed div#panel_chat_title div.func{font-size:13px;color:black;font-style:italic;line-height:1em;margin-bottom:4px;}
div.panel_fixed div#panel_chat_title div.status{font-size:12px;color:yellowgreen;line-height:1em;}
div.panel_fixed div#panel_title2{font-size:12px;color:black;text-align:left;font-weight:bold;margin:10px 0 5px 0;}
div.panel_fixed div#panel_bottom_text{font-size:12px;color:black;font-family:tahoma, sans-serif;text-align:center;margin-bottom:5px;}
div.panel_fixed div.close{width:16px;height:16px;background:url('images/close.png') no-repeat;position:absolute;top:8px;right:8px;}
div.panel_fixed div.close:hover{background-position:0 -16px;cursor:pointer;}
div.panel_fixed textarea{background:white;color:black;width:215px;height:80px;}
div.panel_fixed textarea#client_mess{width:300px;height:50px;margin-bottom:5px;overflow-y: scroll;}
div.panel_fixed strong{color:black;}
div.panel_fixed div#panel_chat_messages{width:300px;padding:5px;height:240px;border:1px solid #D9D9D9;overflow-y: scroll;background-color: #FAFFC5;margin-bottom:5px;}
div.panel_fixed div#panel_chat_messages div.item{font-size:12px;text-align:right;font-family:tahoma, Arial, Helvetica, sans-serif;}
div.panel_fixed div#panel_chat_messages div.item div.mess{border:1px solid #F7DBCE;padding:5px;margin:5px 5px 5px 30px;background:white;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
div.panel_fixed div#panel_chat_messages div.item.client{text-align:left;margin:5px 30px 5px 5px;}
div.panel_fixed div#panel_chat_messages div.item.client div.mess{text-align:left;margin:5px 20px 5px 5px;background:#FFF8C7;}
div.panel_fixed div#panel_chat_messages div.item.client strong{}

/*панель чата в открытом состоянии*/
div.panel_fixed.open{right:0;}
div.panel_fixed.open div#promt{display:none;}


div#panel_support_fixed div#promt{display:block;height:30px;}
div#panel_support_fixed div#panel_chat_messages{height:65px;overflow-y:auto;}
div#panel_support_fixed table{font-size:12px;color:black;width:100%;font-style:italic;}
div#panel_support_fixed table col#c1{width:200px;}
div#panel_support_fixed table col#c2{width:auto;}
div#panel_support_fixed table td{text-align:left;padding:2px 0;}
div#panel_support_fixed table td input{width:200px;}
div#panel_support_fixed table td input[name="_check_code"]{width:40px;}
div#panel_support_fixed table td textarea#client_mess{width:200px;height:50px;overflow-y: scroll;}
div#panel_support_fixed table td img.checkcode{position:relative;top:6px;}
div#panel_support_fixed div#panel_title2{color:black;font-style:italic;}

div#panel_support_fixed div.red_line{margin: 0 20px 20px 0;width:270px;}
div#panel_support_fixed div.red_line{border-left: 5px solid #FFBC00; min-height: 27px;  padding: 0 0 0 20px;}
div#panel_support_fixed table{margin-bottom:10px;}
div#panel_support_fixed table td{height:48px;vertical-align:top;}
div#panel_support_fixed table td:first-child{width:237px;}
div#panel_support_fixed table td:last-child{padding-top:13px;height:35px;}
div#panel_support_fixed input[type="text"]{background:white;color:black;width:215px;height:20px;}
div#panel_support_fixed input[name="_check_code"]{width:97px;}

div#panel_support_fixed img.checkcode{position:relative;top:5px;}



div#panel_support_fixed.open{height:350px;}


div#chat_debug_info{float:left;width:500px;}
div#chat_debug_info textarea{width:500px;height:350px;font-family:tahoma, Arial, Helvetica, sans-serif;font-size:12px;}

/*панель приглашения воспользоваться мессенжером*/
div#panel_chat_promt{position:fixed;top:266px;right:44px;}
div#panel_chat_promt{width:280px;height:187px;background: rgba(80, 154, 224, 0.95);padding-top:25px;text-align:center;font-size:14px;display:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div#panel_chat_promt div.decor{width:10px;height:22px;background:url('images/decor1.png') no-repeat;position:absolute;right:-10px;top:95px;}
div#panel_chat_promt div.name{margin-top:13px;margin-bottom:10px;font-weight: normal;;color:white;}
div#panel_chat_promt div.welcome_text{margin-bottom:12px;color:white;}
div#panel_chat_promt div.buttons button{margin:0 10px;}


